@import "gim_variables";
@import "compass/typography/text/ellipsis";
@import "compass/css3/box-sizing";
@import "compass/css3/flexbox";
@import "compass/css3/images";
@import "compass/css3/transition";
@import "mixins";
@import "modal";
@import "form_elements";
@import "core-admin-forms-correct.scss";

// main-issue-ratio * (100% - sidebar-px) - scrollbar-px
$stuck-width: "#{$main-issue-container-width * 1%} - #{$main-issue-container-width/100} * #{$sidebar-width} - #{$scrollbar-width}";
$stuck-width-small: "#{$main-issue-container-width-small-screen * 1%} - #{$main-issue-container-width-small-screen/100} * #{$sidebar-toggler-width-small-screen} - #{$scrollbar-width}";
$top-border: 5px;
$header-top-padding: 10px;
$header-stuck-height: 47px;
$tabs-stuck-height: 37px;
$files-min-stuck-height: 61px;
$repo-name-height: 20px;

@include keyframes(breathing-updated-marker) {
    0% {
        background: darken($highlight-background-color, 10%);
    }

    35% {
        background: transparent;
    }

    84% {
        background: darken($highlight-background-color, 10%);
    }

    100% {
        background: darken($highlight-background-color, 10%);
    }
}
@include keyframes(breathing-updated-marker-borders) {
    0% {
        opacity: 0;
    }

    35% {
        opacity: 1;
    }

    84% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.issue-content {

    & > .area-top {
        @include box-shadow(rgba(black, 0.07) 0 1px 1px -1px);
        header {

            overflow: auto;
            padding-top: 2px;
            padding-bottom: 1px;
            .repository-name {
                font-weight: 600;
                // thing stolen from .btn-default
                border: 1px solid darken($header-gradient-top, 16);
                @include box-shadow(inset 0 1px 2px lighten($header-gradient-top, 5));
                @include std-bg(lighten($header-gradient-top, 0), darken($header-gradient-top, 8));
                @include border-radius(2px);
                text-align: center;
                padding: 4px 12px;
                margin: 0;
                font-size: 14px;
                height: $repo-name-height;
                overflow: hidden;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                display: none;
                i {
                    font-size: inherit;
                    float: none;
                    margin: 0;
                }
            }
            .avatar {
                @include avatar-small-container;
                float: left;
            }
            h3 {
                margin-top: 4px;
                margin-left: 50px;
                margin-right: 65px;
                .updated-marker {
                    color: $link-color;
                    background: transparent;
                    margin-right: 10px;
                    @include border-radius(5px);
                    @include box-shadow(0 1px 0 #f7f7f7);
                    @include animation(breathing-updated-marker 5s infinite normal);
                    span {
                        @include animation(breathing-updated-marker-borders 5s infinite normal);
                    }
                }
            }
            &.stuck {
                top: $header-top + $top-border;
                max-height: $header-stuck-height;
                z-index: 100;
                margin: 0;
                padding: 0 5px 2px 2px; // override area-top
                h3 {
                    overflow: hidden;
                    @include ellipsis();
                    margin-right: 25px;
                }
                &:hover {
                    max-height: none !important;
                    h3 {
                        overflow: visible;
                        white-space: normal;
                    }
                }
            }
        }
        section {
            margin-left: 50px;
            & > h5, & > p, & > div {
                margin-top: 5px;
                margin-bottom: 5px;
            }
        }
        footer {
            overflow: auto;
            margin-right: -5px;
            display: table;
            width: 100%;
            > * {
                display: table-cell;
                vertical-align: top;
            }
        }
        @extend %issue-state-marker;
        padding-bottom: 5px;
        min-height: 95px;
        margin-bottom: 0;

        .issue-pull-request {
            position: absolute;
            top: 65px;
            left: 15px;
            width: 40px;
            text-align: center;
            font-size: 24px;
        }

        .issue-milestone.no-milestone,
        .issue-assignees.no-assignees,
        .issue-projects.no-projects,
        .issue-labels.no-labels {
            color: #aaa;
        }
        .issue-projects {
            overflow: auto;
            margin-bottom: -3px;
            ul {
                float: left;
                margin-bottom: 0;
            }
        }
        .issue-assignees {
            clear:both;
        }

        .issue-footer-infos {
            > div {
                overflow: auto;
                border: 1px solid #ccc;
                @include box-shadow(0 0 6px -1px rgba(0, 0, 0, 0.15) inset, 1px 1px 0 #eee);
                float: right;
                @include border-radius(4px);
                margin-right: 1px;
                margin-bottom: 1px;
                margin-left: 10px;
            }
        }
        .issue-footer-info-part {
            margin: 0;
            padding: 2px 6px;
            line-height: 26px;
            border-left: solid 1px #f0f0f0;
            border-right: solid 1px #ddd;
            display: table-cell;
            vertical-align: middle;
            &:first-child {
                @include border-radius(4px 0 0 4px);
                border-left: none;
            }
            &:last-child {
                @include border-radius(0 4px 4px 0);
                border-right: none;
            }
            &:first-child:last-child {
                @include border-radius(4px);
            }
        }

        .issue-comments-count {
            top: 0;
            color: inherit;
            white-space: nowrap;
        }

        .issue-labels {
            padding-top: 7px;
            > ul {
                @extend %issue-labels;
                display: inline;
            }
        }

        .issue-involved {
            max-width: 190px;
            max-height: 54px;
            overflow-y: auto;
            margin-bottom: 0;
            li {
                display: inline-block;
            }
        }
    }

    .issue-big-infos {
        background: $highlight-background-color;
        padding: 15px;
        border-bottom: solid 1px $box-border-color;
        overflow: auto;
        ul {
            float: right;
            li {
                display: inline-block;
                margin-left: 5px;
            }
        }
    }
    .pr-merge-status {
        margin-top: 15px;
        .alert {
            display: inline-block;
            padding-right: 14px;
            margin: 0;
            margin-right: 1em;
        }
        .pr-last-commit-status {
            &[data-toggle=collapse] {
                cursor: pointer;
            }
            i {
                margin-left: 0.5em;
                @include transform(rotate(90deg));
                @include transition(transform 0.1s);
            }
            &.collapsed {
                i {
                    @include transform(rotate(0deg));
                }
            }
        }
    }
    .pr-commit-statuses {
        margin-top: 1em;
        margin-bottom: 0;
        a.logs-toggler:not(.collapsed) {
            background: darken($header-gradient-bottom, 2);
        }
        .box-header {
            .title span {
                font-weight: normal;
                &.header-state {
                    i {
                        font-size: 13px;
                        width: 14px;
                        text-align: center;
                        margin-left: 3px;
                        margin-right: 4px;
                    }
                }
            }
            .time {
                font-weight: normal;
                color: #949494 !important;
            }
            .toolbar-link {
                margin-left: 0;
                margin-right: 0;
                @include transition(margin-right 0.35s);
            }
            &.collapsed {
                .toolbar-link {
                    margin-right: -14ex;
                }
            }
        }
        td {
            line-height: 22px;
            padding: 4px 13px;
            vertical-align: top;
            width: 1%;
            white-space:nowrap;
        }
        .state-success {
            color: $successText;
        }
        .state-failure, .state-error {
            color: $errorText;
        }
        .state-pending, .state-unknown {
            color: $warningText;
        }
        .cell-state {
            i {
                width: 14px;
                text-align: center;
                margin-right: 4px;
            }
        }
        .cell-context {
            font-weight: bold;
        }
        .cell-description {
            white-space: normal;
            width: 99%;
            dl.logs {
                font-size: 11px;
                font-family: $monoFontFamily;
                background: #F7F8FA;
                border: solid 1px #E3E3E3;
                @include border-radius(3px);
                padding: 0;
                margin-bottom: 9px;
                margin-top: 6px;
                dt {
                    margin-left: 10px;
                    margin-right: 10px;
                    &:first-of-type {
                        margin-top: 6px;
                    }
                }
                dd {
                    margin-left: 20px;
                    margin-right: 10px;
                    &:last-child {
                        margin-bottom: 6px;
                    }
                }
                > a {
                    margin-top: 4px;
                    margin-right: 10px;
                    font-weight: bold;
                    float: right;
                }
                &.show-older {
                    > a {
                        display: none;
                    }
                }
                &:not(.show-older) {
                    dt.first-is-last {
                        margin-top: 6px;
                    }
                    dt:not(.is-last) {
                        display: none;
                        + dd {
                            display: none;
                        }
                    }
                }
                &.collapse {
                    @include transition(margin 0.1s, border-width 0.1s, border-color 0.1s);
                    &:not(.in) {
                        border-color: #F7F8FA;
                        border-top-width: 0;
                        border-bottom-width: 0;
                        margin-top: 0;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    .issue-buttons {
        float: right;
        .btn {
            padding: 8px 14px;
            font-size: 13px;
            line-height: 18px;
            margin-left: 15px;
        }
        form {
            margin-bottom: 0;
            display: inline-block;
        }
    }

    .issue-body {
        padding: 15px;
        padding-right: 30px;
        background: white;
        border-bottom: solid 1px $box-border-color;
        @include box-shadow(rgba(black, 0.1) 0 1px 3px -1px);
        position: relative;
    }

    .content.empty {
        color: $light-text-color;
    }

}

.with-repository {
    > .issue-content > .area-top {
        header {
            padding-top: 2px + $repo-name-height;
            .repository-name {
                display: block;
            }
            &.stuck {
                max-height: $header-stuck-height + $repo-name-height + $header-top-padding;
                padding-top: 2px + $repo-name-height + $header-top-padding;
            }
        }
    }
}


.issue-container {
    border-top: solid #FAFAFA 5px;
    .stuck {
        position: fixed;
        @include calc(width, $stuck-width);
        right: $scrollbar-width;
    }

    position: relative;

    > .alert-error {
        margin-bottom: 0;
    }

    &.with-repository {
        .issue-nav {
            top: 41px;
        }
    }

    &.big-issue {
        position: absolute !important;
        float: none !important;
        left: 0 !important;
        right: 0 !important;
        width: auto !important;
        top: $header-top !important;
        bottom: 0 !important;
        height: auto !important;
        margin: 0 !important;
        z-index: 200;
        background-color: $body-background-color !important;
        background: image-url("bg.png") !important;
        .stuck {
            @include calc(width, '100% - #{$scrollbar-width}', !important);
        }
        .issue-involved {
            max-width: 300px;
        }

        > .alert-error {
            width: 50%;
            margin-left: 25%;
            margin-top: 25%;
        }

    }

    a.issue-edit-btn {
        i {
            float: none;
            color: #ccc;
            font-size: inherit;
            font-weight: inherit;
        }
        &.loading i.fa-edit {
            display: none;
        }
        &, &:hover {
            text-decoration: none;
        }
        &.issue-edit-btn-title {
            margin-left: 5px;
        }
        &.issue-edit-btn-body {
            font-size: 18px;
            position: absolute;
            top: 3px;
            right: 7px;
        }
        &.issue-edit-btn-milestone,
        &.issue-edit-btn-assignees,
        &.issue-edit-btn-projects,
        &.issue-edit-btn-labels {
            font-size: 16px;
            position: relative;
            top: 1px;
            margin-left: 6px;
        }
        &.issue-edit-btn-projects {
            top: -2px;
        }
    }


    .issue-edit-title {
        position: absolute;
        left: 130px;
        right: 75px;
        height: 35px;
        div.edit-buttons {
            position: absolute;
            bottom: 0;
            right: 0;
            .btn-cancel {
                margin-left: 7px;
            }
        }
        div.edit-field {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 88px;
            input {
                width: 100%;
                @include border-radius(0);
            }
        }
        input {
            font-family: inherit;
            font-size: 14px;
        }
    } // .issue-edit-title

    .issue-edit-body {
        // same as .issue-body
        display: block;
        padding: 10px;
        padding-right: 25px;
        background: white;
        border-bottom: solid 1px $box-border-color;
        @include box-shadow(rgba(black, 0.1) 0 1px 3px -1px);
        div.edit-field {
            display: block;
            padding: 5px 5px 0;
        }
        textarea {
            width: 100%;
            padding: 0;
            margin: 0;
            font-size: inherit;
            font-family: inherit;
            line-height: inherit;
            min-height: 180px;
            height: auto;
            background: white;
            border: none;
            @include border-radius(0);
            @include box-shadow(none);
        }
        div.edit-buttons {
            display: block;
            margin-top: 10px;
            padding-top: 10px;
            border-top: solid 1px $box-border-color;
        }
        button {
            width: auto;
            font-size: inherit;
            margin: 0;
            &.btn-cancel {
                font-weight: normal;
            }
        }
    } // .issue-edit-body

    .issue-edit-milestone,
    .issue-edit-assignees,
    .issue-edit-projects,
    .issue-edit-labels {
        display: block;
        div.edit-field {
            min-width: 200px;
        }
        div.edit-buttons {
            button {
                margin-left: 6px;
                &:first-of-type {
                    margin-left: 3px;
                }
            }
        }
    }
    .issue-edit-labels {
        display: block !important;
        position: relative;
        overflow: auto;
        div.edit-field,
        div.edit-buttons {
            vertical-align: top;
        }
        div.edit-field {
            @include calc(width, '100% - 72px');
            select {
                width: 100%;
            }
        }
        div.edit-buttons {
            position: absolute;
            top: 0;
            right: 0;
        }
        ~ div.issue-footer-infos {
            display: block;
            margin-top: 7px;
        }
    }

} // .issue-container

.select2-milestone {
    .select2-result-sub li > div > div {
        @include ellipsis();
    }
}
.select2-labels, .select2-projects {
    .select2-results {
        max-height: 400px;
        display: block;
        > li li:not(.select2-selected) {
            display: inline-block;
            .select2-result-label {
                padding-left: 5px !important;
            }
        }
    }
    .select2-result-label span {
        @extend %issue-label;
    }
}

.edit-field-labels, .edit-field-columns {
    .select2-container-multi .select2-choices {
        * {
            @include box-sizing(content-box);
        }
        min-height: 27px;
        padding: 0 4px 1px 0;
        .select2-search-field {
            padding: 4px 0 0 4px;
            margin: 0;
            input {
                margin: 0;
                padding: 0;
                height: 20px;
            }
        }
        .select2-search-choice {
            margin: 2px 0 0 4px;
            @include border-radius(0);
            background: transparent;
            border: none !important;
            padding: 0 0 0 18px !important;
            span {
                @extend %issue-label;
                margin-left: -18px;
                padding-left: 18px;
                padding-right: 3px;
                line-height: 20px;
            }
        }
        .select2-search-choice-close {
            top: 5px;
        }
    }
}

#issue-create-form {
    input[type=submit] {
        display: none;
    }
    .select2-container {
        margin-bottom: 10px;
        .select2-choice {
            height: 29px;
        }
    }
    .edit-field {
        > input, > textarea {
            color: #555;
            font-size: 13px;
            font-family: inherit;
            padding: 4px 6px;
            line-height: 20px;
        }
        > input {
            height: 28px;
        }
        > textarea {
            min-height: 180px;
        }
        &:last-of-type .select2-container {
            margin-bottom: 0;
        }
    }
}
#issue-create-modal {
    .modal-body > .empty-area {
        position: static;
        margin: 0;
    }
    .modal-header {
        position: relative;
        & > h6 > span {
            font-style: italic;
        }
    }
    .modal-footer {
        button {
            font-size: inherit;
        }
    }
}
.issue-create-nav {
    position: absolute;
    top: 4px;
    right: 5px;
}

.commit-details {
    margin: -15px -15px 15px -15px;
    padding-bottom: 0;
    width: auto;
    max-height: 300px;
    overflow-y: auto;
    @include box-sizing(content-box);
    blockquote {
        padding-left: 5px;
        margin-bottom: 10px;
        margin-left: -10px;
        border-left-color: #e3e3e3;
        p {
            font-family: $monoFontFamily;
            white-space: pre-wrap;
            margin: 0;
            @include transition(margin 0.35s, height 0.35s);
            &:last-child.in {
                margin-top: 10px;
            }
            > span[data-toggle=collapse] {
                @extend %toggle;
                font-family: "Open Sans",HelveticaNeue,Helvetica,Arial;
                position: relative;
                top: -2px;
            }
        }
    }
}

@media (min-width: 1023px) {
    .issue-container.big-issue .code-files {
        position: relative;
        min-height: 85px;
        .files-list-sticky-wrapper {
            height: auto !important;
        }
        .code-files-list-container {
            @include display-flex;
            @include flex-direction(column);
            left: 0;
            width: $file-list-width !important;
            bottom: 0;
            height: auto;
            padding: 0;
            border-right: 1px solid #ddd;
            &:not(.stuck) {
                position: absolute;
                top: 0;
            }
            &.stuck {
                border-right-color: #ccc;
                @include box-shadow(rgba(black, 0.07) 2px 0 1px -1px);
            }
            .code-files-list-nav {
                padding: 15px;
            }
            .code-files-list {
                @include flex(1 auto);
                overflow-y: auto;
                max-height: none;
                height: auto !important;  // bypass collapsing;
                margin: 0;
                border-top: solid 1px $box-border-color;
            }
            .files-list-summary {
                cursor: default;
                top: 0;
                i.fa-sort {
                    display: none;
                }
            }
            .commit-details {
                margin: 0;
                max-height: 50%;
                &.multi > p:first-child > span {
                    display: block;
                    &:not(:first-child) {
                        margin-left: 1em;
                        &:before {
                            content: "•";
                        }
                    }
                }
            }
        }
        .issue-activity {
            margin-left: $file-list-width;
        }
        table.diff tr:not(.diff-comments) td.code span {
            left: $file-list-width;
        }
    }
}

// the toolbar of an issue is placed on the top right corner
.issue-nav {
    position: absolute;
    right: 23px;
    top: 21px;
    z-index: 120;
    i {
        cursor: pointer;
        color: $body-text-color;
    }
}

.header-stuck {
    .issue-nav {
        top: 60px;
        position: fixed;
    }
    &.with-repository {
        .issue-nav {
            top: 60px + $repo-name-height + $header-top-padding;
        }
    }
}

.issue-activity {
    padding: 15px 15px;
    .time {
        color: #949494 !important;
        font-weight: normal;
        i {
            margin-right: 3px;
        }
    }
    a.time:hover {
        text-decoration: none;
        span {
            text-decoration: underline;
        }
    }
    > li > .box .box-toolbar > li {
        margin-left: 10px;
        &:first-child {
            margin-left: 5px;
        }
    }
    .box-header > .fa-stack {
        float: left;
        margin-top: 7px;
        margin-left: 7px;
    }
    .chat-box-entry {
        margin-left: 50px;
        > .info .label {
            margin-right: 4px;
        }
        &.event {
            > .info {
                color: #393939;
                > .label {
                    margin-left: -4px;
                    margin-right: 4px;
                }
            }
            &.event-referenced-by-issue,
            &.event-referenced-by-issuecomment,
            &.event-referenced-by-pullrequestcomment,
            &.event-referenced-by-milestone {
                > .content > span.label {
                    float: right;
                    margin-top: 1px;
                }
            }
            &.event-referenced-in-commit {
                .comment-commits table {
                    border-top: none;
                    tr:first-child {
                        border-top: none;
                        td  {
                            border-top: none;
                        }
                    }
                }
            }
        }
        .content {
            overflow: auto;
        }
    }
    .pr-commits-group .box-header {
        > .title, > .box-toolbar > li {
            font-size: 13px;
        }
        > .title {
            font-weight: normal;
        }
    }

    .box-section.code-comments {
        @extend %scroll-highlight;
        padding-top: 5px;
        padding-bottom: 0;
        position: relative;
    }

    .code-file, .pr-entry-point {
        @extend %scroll-highlight;
        > .box-header {
            @include display-flex;
            .title {
                float: none;
                @include word-break(break-all);
                @include flex(1);
                > .path {
                    font-size: 14px;
                }
                > .subtitle {
                    display: block;
                    font-weight: normal;
                    margin-top: 5px;
                }
            }
            .box-toolbar {
                float: none;
                @include display-flex;
                @include flex-direction(column);
                .toolbar-link {
                    font-size: 11px;
                    float: none;
                    margin: 0;
                    line-height: initial;
                    font-weight: normal;
                    @include flex(1);
                    @include display-flex;
                    a {
                        height: initial;
                        line-height: initial;
                        border-bottom: 1px solid #cecece;
                        text-align: center;
                        @include box-sizing(border-box);
                        width: 9em;
                        @include flex(1);
                        @include display-flex;
                        @include flex-direction(column);
                        @include justify-content(center);
                    }
                    &:last-child {
                        a {
                            border-bottom: none;
                        }
                    }
                }
            }
        }
        div.collapse.in {
            height: auto !important;
            overflow: visible;
        }
    }

    .code-file {
        > .box-header {
            .subtitle {
                span:first-child {
                    i {
                        margin-right: 3px;
                    }
                    &.status-added i {
                        color: #8cc079;
                    }
                    &.status-removed i {
                        color: #b35d5d;
                    }
                    &.status-renamed i {
                        color: #7fb3d4;
                    }
                }
                ul {
                    margin-left: 4px;
                    display: inline-block;
                    li {
                        margin-right: 3px;
                    }
                    .label {
                        font-size: 10px;
                    }
                }
            }
            .box-toolbar {
                .locally-reviewed {
                    span {
                        margin-left: 1ex;
                        font-weight: normal;
                    }
                    .fa {
                        font-size: 11px !important;
                    }
                    &.is-reviewed {
                        .fa {
                            color: $state-open-color;
                        }
                    }
                    &.is-not-reviewed {
                        span {
                            text-decoration: line-through;
                        }
                    }
                }
            }
        }
        > .box-content.collapse.in {
            position: static;
        }
        .no-diff {
            color: $light-text-color;
            background: white;
            padding: 10px;
        }
    } // .code-file

    .pr-entry-point {
        &.outdated {
            border: solid $state-closed-color 1px;
        }
        .outdated {
            color: $state-closed-color;
        }
        > .box-header {
        }
        .review-info {
            @include display-flex;
            @include flex-direction(column);
            li {
                font-size: 11px;
                padding: 0 10px;
                @include flex(1);
                @include display-flex;
                @include flex-direction(column);
                @include justify-content(center);
                text-align: right;
                span.label {
                    font-size: 10px;
                }
            }
        }
        > .box-content.collapse.in {
            position: static;
        }
    } // .pr-entry-point

    .comment-commits {
        margin: -5px -10px;
    }

    .comment-form {
        margin: 5px 0;
        textarea {
            width: 100%;
            @include box-sizing(border-box);
            height: 5em;
            @include transition(height 0.35s);
            &.focused {
                height: 15em;
            }
        }
        .alert {
            margin-bottom: 10px;
        }
    }

    .comment-delete-form {
        .auto-align {
            padding-bottom: 10px;
            border-bottom: solid 1px $box-border-color;
        }
    }

    .comment-create-placeholder {
        margin-left: 50px;
        margin-bottom: 15px;
    }

    .change-event .box-content {
        margin: 5px 10px;
    }
    .part-last_head_status {
        .state-success {
            color: $successText;
        }
        .state-failure, .state-error {
            color: $errorText;
        }
        .state-pending, .state-unknown {
            color: $warningText;
        }
    }

    .code-comments-group .box-content {
        margin: 5px 10px;
        padding-right: 70px;
    }

    .go-to-review-link {
        position: absolute;
        right: 20px;
        margin-top: -1px;
    }

    .commit-comments-group .box-content {
        margin: 5px 10px;
        .comment-commits {
            margin-top: 5px;
        }
    }

    .issue-comment {
        @extend %scroll-highlight;
    }

    .comment-nav {
        float: right;
        margin: -2px -5px -1px 7px;
        a.loading {
            i.fa-edit, i.fa-times {
                display: none;
            }
        }

    }

    & ~ .issue-activity {
        padding-top: 0;
        margin-top: -17px;
        > li.divider {
            span {
                font-size: 14px;
                top: -10px;
            }
        }
    }

}

.issue-tabs {
    overflow: hidden;
    position: relative;
    padding: 0 25px;
    display: none; // by default for issues
    > ul {
        margin-bottom: 0;
        padding-top: 5px;
        padding-left: 3px;
        white-space: nowrap;
        position: relative;
        width: 3000px; // to keep a border even when scrolled
        @include transform(translateX(0));
        left: 0; // left will be used if transform not supported
        @include transition(transform 0.35s ease-in-out, left 0.35s ease-in-out);
        > li {
            margin-left: 1px;
            margin-right: 1px;
            white-space: nowrap;
            display: inline-block;
            float: none;
            > a {
                padding: 5px 8px 8px;
                > .badge:last-of-type {
                    margin-left: 3px;
                }
            }
            &.pr-discussion-tab > a > .badge:first-child {
                margin-left: 0;
            }
            &.commit-tab > a > strong {
                margin-right: 3px;
            }
            &.closable {
                a {
                    position: relative;
                    padding-right: 22px;
                }
                i.fa-times {
                    position: absolute;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    line-height: 30px;
                    padding: 0 5px;
                    cursor: pointer;
                    font-size: 12px;
                    color: #CCC;
                    &:hover {
                        color: #666;
                    }
                }
            }
            span.label > span+span {
                margin-left: 5px;
            }
        }
    }
    > .arrow {
        position: absolute;
        display: block;
        top: 6px;
        bottom: 0;
        padding-top: 8px;
        width: 23px;
        text-align: center;
        border-bottom: solid 1px #ddd;
        background-color: #f0f0F0;
        background-color: rgba(240,240 ,240 ,1);
        z-index: 1;
        > .badge {
            font-size: 8px;
            position: absolute;
            top: 1px;
            min-width: 8px;
            line-height: 8px;
            height: 8px;
            padding: 0 1px;

        }
        > i, > .badge {
            opacity: 1;
            @include transition(opacity 0.35s ease-in-out);
        }
        &.scroll-left {
            left: 0;
            padding-left: 2px;
            padding-right: 5px;
            @include background(linear-gradient(right, rgba(240, 240, 240, 0) 0%, rgba(240, 240, 240, 0.8) 30%, rgba(240, 240, 240, 1) 100%));
            > .badge {
                left: 2px;
            }
        }
        &.scroll-right {
            right: 0;
            padding-left: 5px;
            padding-right: 2px;
            @include background(linear-gradient(left, rgba(240, 240, 240, 0) 0%, rgba(240, 240, 240, 0.8) 30%, rgba(240, 240, 240, 1) 100%));
            > .badge {
                right: 2px;
            }
        }
    }
    &.no-scroll-left .scroll-left,
    &.no-scroll-right .scroll-right {
        > i {
            opacity: 0.1;
        }
        > .badge {
            opacity: 0;
        }
    }
    &.stuck {
        background: #f0f0F0;
        max-height: $tabs-stuck-height;
        top: $header-top + $top-border + $header-stuck-height;
        z-index: 99;
        padding: 0 25px; // override area-top
        > ul {
            padding-top: 2px;
            padding-bottom: 3px;
            border-bottom: none;
            > li {
                margin-bottom: 0;
                > a {
                    @include border-radius(4px);
                    border-color: none;
                    padding-bottom: 4px;
                    &:hover, &:focus {
                        border-color: #ddd;
                    }
                }
                &.active > a {
                    border-color: #ddd;
                }
            }
        }
        > .arrow {
            top: -6px;
            bottom: -1px;
            padding-top: 16px;
            > .badge {
                top: 9px;
            }
        }
    }
}
.with-repository .issue-tabs.stuck {
    top: $header-top + $top-border + $header-stuck-height + $repo-name-height + $header-top-padding;
}
.issue-discussion {
    .issue-body {
        margin-top: 0;
    }
}
.issue-commits {
    > .content {
        line-height: 20px !important;
        overflow: auto;
    }
    .deleted-commits-toggler {
        font-size: inherit;
        display: inline-block;
        float: right;
        line-height: i;
        vertical-align: middle;
        margin: 0;
        position: relative;
        top: -2px;
        input {
            vertical-align: middle;
            margin: 0;
            position: relative;
            top: 1px;
        }
        span {
            vertical-align: middle;
        }
    }
    .all-commits {
        display: none;
    }
    &.view-deleted {
        .all-commits {
            display: block;
            padding-top: 15px;
            margin-top: 0;
        }
        .active-commits {
            display: none;
        }
    }
}
.issue-commits, .issue-review, .code-files {
    > .content, .code-files-list-container, .review-header {
        padding: 15px;
        background: white;
        border-bottom: solid 1px $box-border-color;
        @include box-shadow(rgba(black, 0.1) 0 1px 3px -1px);
        > nav, > .code-files-list-nav > nav {
            margin-left: 10px;
            float: right;
            position: relative;
            top: 0;
            > .btn-group {
                margin-left: 6px;
            }
            > div.quicksearch-widget {
                display: inline-block;
                input[type='text'] {
                    width: 100px;
                }
            }
        }
    }
    .code-files-list-nav .files-list-summary, .review-header > span {
        position: relative;
        top: 6px;
    }
    .files-list-summary {
        .fa-sort {
            margin-left: 5px;
        }
        &:not([data-toggle=collapse]) {
            cursor: default;
        }
    }
    .code-files-list-nav {
        padding-bottom: 6px;
    }
    .review-header {
        padding-bottom: 21px;
    }
    .code-files-list-container {
        min-height: $files-min-stuck-height;
        padding-bottom: 0;
        div.quicksearch-widget {
            margin-bottom: 15px;
        }
    }
    .review-header {
        min-height: $files-min-stuck-height;
    }
    .code-files-list {
        clear: both;
        margin: 15px -15px 0;
        max-height: 150px;
        overflow-y: auto;
        border-top: 1px solid $box-border-color;
        @include transition(height 0.01s ease);
        &:not(.in) {
            border-top: none;
        }
        table {
            margin-bottom: 0;
            table-layout: auto;
        }
        tr {
            @extend %active-background;
        }
        td:first-of-type {
            width: 12px;
            color: #767676;
            padding-left: 10px;
            &.status-added {
                color: #8cc079;
            }
            &.status-removed {
                color: #b35d5d;
            }
            &.status-renamed {
                color: #7fb3d4;
            }
        }
        td:nth-child(2) {
            word-wrap: break-word;
            @include word-break(break-all);
            a {
                word-wrap: break-word;
                @include word-break(break-all);
            }
            .fa-check {
                color: $state-open-color;
                font-size: 10px;
                display: inline;
            }
        }
        td:last-of-type {
            width: min-content;
            width: -moz-min-content;
            width: -webkit-min-content;
            text-align: right;
            li {
                margin-left: 4px;
                font-size: 10px;
            }
        }
        tr:first-of-type td {
            border-top: none;
        }
        tr:last-of-type td {
            border-bottom: none;
        }
        ul {
            margin-bottom: 0;
            white-space: nowrap;
        }
        .issue-container.big-issue & {
            tr:last-of-type td {
                border-bottom: 1px solid #DDD;
            }
        }
    }
    .empty-area {
        position: static;
        height: 200px;
        margin-top: 100px;
        i {
            font-size: inherit;
        }
    }
    .global-comments > .divider {
        margin-top: 15px;
        margin-bottom: 30px;
    }
}

.code-files {
    .code-files-list-container {
        &.stuck {
            min-height: $files-min-stuck-height;
            z-index: 98;
            padding-bottom: 0;
            .code-files-list {
                margin-bottom: 0;
            }
        }
    }
}

.issue-review .review-header {
    position: relative;
    &.stuck {
        position: fixed;
        height: $files-min-stuck-height;
    }
}

.code-files .code-files-list-container, .issue-review .review-header {
    @include box-sizing(border-box);
    &.stuck {
        top: $header-top + $top-border + $header-stuck-height + $tabs-stuck-height;
        z-index: 98;
        @include calc(width, $stuck-width);
    }
}

.with-repository {
    .code-files .code-files-list-container, .issue-review .review-header {
        &.stuck {
            top: $header-top + $top-border + $header-stuck-height + $tabs-stuck-height + $repo-name-height + $header-top-padding;
        }
    }
}

table.commits-list {
    td {
        line-height: 22px;
        padding: 4px;
        vertical-align: top;
        &.cell-author {
            width: 16ex;
            white-space: nowrap;
            font-weight: bold;
            span {
                overflow: hidden;
                @include ellipsis();
                vertical-align: middle;
                display: inline-block;
                width: 12ex;
                margin-left: 3px;
            }
        }
        &.cell-message {
            border-right: none;
            .label {
                float: left;
                margin-right: 4px;
                margin-top: 3px;
                &.comments-count {
                    float: right;
                    margin-right: 3px;
                    margin-left: 1em;
                }
            }
            p {
                font-family: $monoFontFamily;
                font-size: 11px;
                margin: 0;
                white-space: pre-wrap;
                &:first-of-type {
                    margin-top: 3px;
                    font-size: 12px;
                }
                > span[data-toggle=collapse] {
                    @extend %toggle;
                    font-family: "Open Sans",HelveticaNeue,Helvetica,Arial;
                    position: relative;
                    top: -2px;
                }
            }
        }
        &.cell-sha {
            width: 10ex;
            text-align: center;
            font-family: $monoFontFamily;
        }
        &.cell-stats {
            white-space: nowrap;
            text-align: right;
            border-left: none;
            li:not(:first-child) {
                margin-left: 2px;
            }
        }
        .comments-count {
            color: white;
            font-weight: normal;
        }
    }
} // table.commits-list

.files-navigator {
    width: 20em;
    li {
        a {
            > span.label {
                position: absolute;
                right: 10px;
                color: white;
                > i {
                    color: white;
                }
            }
        }
        &[class*=horizontal] a {
            padding-right: 5px;
            padding-left: 5px;
        }
        &.horizontal-4.disabled {
            text-align: right;
        }
    }
}

.code-diff {
    overflow: auto;
    padding: 0;
    border-top: 0;
    table.diff {
        margin-bottom: 0;
    }
}

#modal-issue-view, #modal-issue-created {
    .modal-body {
        padding: 0;
        @include border-radius(6px);
        background: $body-background-color;
        .header-stuck {
            .issue-nav {
                @include calc(right, "50% - 260px");
                @include calc(top, "10% + 9px");
            }
            &.with-repository {
                .issue-nav {
                    @include calc(top, "10% + #{9px + $repo-name-height + $header-top-padding}");
                }
            }
        }
        .stuck {
            width: ($modal-width-small - $modal_borders_width); // width of the modal
            @include box-sizing(border-box);
            right: auto;
            top: 10%; // top of the modal
        }
        .issue-content > .area-top header h3 {
            margin-right: 40px;
        }
        > .issue-container.big-issue {
            top: 0 !important;
        }
        .issue-content > .area-top header.stuck {
            margin-left: -15px;  // left padding of parent area-top
            @include border-radius(6px 6px 0 0);
        }
        .issue-tabs.stuck {
            margin-top: $header-stuck-height;
        }
        .with-repository {
            .issue-tabs.stuck {
                margin-top: $header-stuck-height + $repo-name-height + $header-top-padding;
            }
        }
        .code-files-list-container, .review-header {
            &.stuck {
                margin-top: $header-stuck-height + $tabs-stuck-height;
            }
        }
        .with-repository {
            .code-files-list-container, .review-header {
                &.stuck {
                    margin-top: $header-stuck-height + $tabs-stuck-height + $repo-name-height + $header-top-padding;
                }
            }
        }
        .sticky-wrapper > * {
            top: 10%; // to avoid transition from 0 in chrome, should do nothing on static non-stuck item
        }
        .stuck {
            @include transition(top 0.35s);
        }
   }
    &.full-screen {
        .modal-body {
            height: 100%;
            .header-stuck {
                .issue-nav {
                    @include calc(right, "5% + 20px");
                    @include calc(top, "5% + 9px");
                }
                &.with-repository {
                    .issue-nav {
                        @include calc(top, "5% + #{9px + $repo-name-height + $header-top-padding}");
                    }
                }
            }
            .stuck {
                @include calc('width', '#{$modal-width} - #{$modal-borders-width}', !important);
                @include box-sizing(border-box);
                top: 5% !important;
            }
            @media (min-width: 1023px) {
                .code-files .code-files-list-container {
                    position: absolute;
                    width: $file-list-width !important;
                    top: 0 !important;
                    &.stuck {
                        position: fixed;
                        top: 5% !important;
                        left: 5% !important;
                        @include calc(left, "5% + 1px", !important);
                        bottom: 5% !important;
                        @include calc(bottom, "5% - 1px", !important);
                    }
                }
            }
        }
    }
    .empty-area {
        position: static;
        height: 200px;
        margin-top: 100px;
        i {
            font-size: inherit;
        }
    }
}

@media (max-width: 1023px) {
    .issue-container:not(.big-issue) .stuck {
        @include calc(width, $stuck-width-small, !important);
    }
}
