@import "widgets/avatar";
@import "components/issues_mixins";
@import "components/issues_filters";
@import "components/issues_list";

$list-title-height: 20px;

.issues-list-title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: $list-title-height;
    text-align: center;
    background: #eee;
    border-bottom: solid 1px #d4d4d4;
    font-weight: 600;
    @include box-sizing(border-box);
    cursor: default;
}

.issues-list-options {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

// second row: quicksearch filter
.issues-quicksearch {
    position: absolute;
    top: $issues-list-options-height;
    left: 0;
    right: 0;
    border-bottom: solid 1px $box-border-color;
}

// last row, full height: list of isuses
.issues-list {
    position: absolute;
    top: $issues-list-options-height + $issues-quicksearch-height;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}

.multiselect-info {
    display: flex;
    background: #6da7cb;
    border: none;
    line-height: 10px;
    padding: 2px 0;
    align-items: center;
    &:after {
        content: "";
        display: block;
        clear: both;
    }
    > .ms-selector {
        flex-shrink: 0;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        width: 24px;
        height: 20px;
        padding: 5px;
        &:before {
            position: absolute;
            width: 16px;
            height: 16px;
            @include calc(top, '50% - 8px');
            @include calc(left, '50% - 8px');
            background: #fbfbfb;
            content: '';
        }
        .icheckbox_flat-blue {
            position: absolute;
            @include calc(top, '50% - 10px');
            @include calc(left, '50% - 10px');
            vertical-align: middle;
            &.indeterminate:after {
                border-color: #6da7cb;
            }
        }
    }
    > .ms-counter {
        vertical-align: middle;
        color: white;
        margin-right: 1ex;
        line-height: 14px;
        flex-shrink: 0.7;
        flex-grow: 1;
        flex-basis: 0;
        span {
            font-size: smaller;
            white-space: nowrap;
        }
    }
    > .ms-actions {
        flex-shrink: 1;
        margin-right: 2px;
        margin-bottom: 0;
        position: relative;
        > .navbar-inner {
            padding: 0;
            min-height: 28px;
            > .nav {
                margin: 0;
                line-height: 0;
                font-size: 0;
                position: static;
                > li {
                    > a {
                        padding: 4px 5px;
                        > span {
                            display: flex;
                            align-items: center;
                            .fa {
                                flex-shrink: 0;
                                margin-right: 4px;
                                width: 14px;
                                text-align: center;
                            }
                            .ms-action-name {
                                @include ellipsis();
                            }
                            .caret {
                                margin-left: 4px;
                                margin-top: 0;
                            }
                        }
                    }
                    &.disabled, &.disabled:hover {
                        a {
                            color: #777;
                        }
                    }
                }
            }
        }
        .divider-vertical {
            height: 28px;
            margin: 0;
        }
    }
    .ms-action {
        font-size: 13px;
        > .dropdown-menu {
            ul {
                max-height: 50vh;
                overflow: auto;
                padding-bottom: 7px;
            }
            li {
                > a {
                    display: flex;
                    padding: 3px 10px;
                    clear: both;
                    line-height: 20px;
                    > :first-child {
                        flex-basis: 20px;
                        width: 20px;
                        flex-shrink: 0;
                    }
                    > :nth-child(2) {
                        flex-grow: 1;
                        @include ellipsis();
                    }
                    .label {
                        font-weight: normal;
                        font-size: 11px;
                        margin-left: 10px;
                    }
                }
                &.divider {
                    margin: 6px 1px 3px;
                }
                &.disabled {
                    a {
                        cursor: default;
                        color: #999;
                        &:hover, &:focus {
                            color: #999;
                        }
                    }
                    &:hover a, a:hover {
                        background: transparent;
                        text-decoration: none;
                        cursor: default;
                    }
                }
            }
        }
        .icheckbox_flat-blue, .iradio_flat-blue {
            margin-right: 1ex;
        }
        &.loaded {
            position: static;
            > .dropdown-menu {
                left: 0 !important;
                right: 0 !important;
                float: none !important;
                margin-top: 0;
                border-top: none;
                @include border-radius(0 0 6px 6px);
                min-wdith: 130px;
                &:before, &:after {
                    display: none;
                }
            }
        }
        .icheckbox_flat-blue, .iradio_flat-blue {
            &.indeterminate:after {
                border-color: #6da7cb;
            }
        }
        .quicksearch-widget {
            margin-top: -5px;
            label {
                width: 100%;
            }
            input {
                @include calc(width, "100% - 68px");
            }
            .add-on {
                @include border-radius(0);
            }
            .btn-default {
                width: 8px;
                padding: 4px 10px;
                @include border-radius(0);
            }
            + ul {
                padding-top: 10px;
            }
        }
        .buttons {
            @include box-shadow(0 -1px 2px #DADADA);
            padding: 5px 5px 0;
            button {
                margin-top: 0;
            }
        }
    }
    .ms-labels {
        @include calc(max-width, "30px + 0.1976 * (100% - (3 * 2px + 4 * 30px))");
        a .label {
            top: 2px;
        }
        .label-object {
            border-bottom: solid 3px transparent;
            position: relative;
            top: -1px;
        }
    }
    .ms-milestone {
        @include calc(max-width, "30px + 0.2819 * (100% - (3 * 2px + 4 * 30px))");
        .fa-tasks:not(.text-open):not(.text-closed) {
            color: inherit;
        }
    }
    .ms-assignees {
        @include calc(max-width, "30px + 0.2831 * (100% - (3 * 2px + 4 * 30px))");
    }
    .ms-projects {
        @include calc(max-width, "30px + 0.2374 * (100% - (3 * 2px + 4 * 30px))");
    }
}
.ms-action-confirm-modal {
    .ms-action-content {
        font-weight: 600;
    }
    .label-object {
        padding-bottom: 2px;
        border-bottom: solid 3px transparent;
    }
    .modal-body {
        strong {
            font-weight: 700;
        }
        ul {
            max-height: 60vh;
        }
        li {
            line-height: 30px;
        }
        .alert {
            margin-bottom: 0;
        }
    }
}


.issues-list-container {
  border-top: solid #FAFAFA 5px;
  .multiselect-info {
    position: absolute;
    top: $issues-list-options-height + $issues-quicksearch-height;
    width: 100%;
  }
  &.multiselect-mode {
      .issues-list {
          top: $issues-list-options-height + $issues-quicksearch-height + $issues-multiselect-info-height;
      }
  }
  &.with-title {
    border-top-color: #ddd;
    .issues-list-options {
      top: $list-title-height;
    }
    .issues-quicksearch {
      top: $issues-list-options-height + $list-title-height;
    }
    .issues-list {
      top: $issues-list-options-height + $issues-quicksearch-height + $list-title-height;
    }
    .multiselect-info {
        top: $issues-list-options-height + $issues-quicksearch-height + $list-title-height;
    }
    &.multiselect-mode {
        .issues-list {
          top: $issues-list-options-height + $issues-quicksearch-height + $list-title-height + $issues-multiselect-info-height;
        }
    }
  }
  .alert {
    margin: 0;
    padding-right: 14px;
    @include border-radius(0);
    font-size: 13px;
    font-weight: normal;
    line-height: 15px;
    .btn {
      margin: 8px auto 0;
      display: block;
      max-width: 13em;
    }
    & + .box {
      border-top-width: 1px;
    }
  }
}
