{% load frontutils %}{% spaceless %}
{% url "front:dashboard:repositories:add" as repository_add_url %}
{% url "front:dashboard:repositories:remove" as repository_remove_url %}
<div class="area-top">
    {{ tab.class.description }}
    {% include "front/include_quicksearch.html" with id="tab-"|concat:tab.class.slug|concat:"-search" target="#available-repositories .tab-pane.tab-"|concat:tab.class.slug|concat:" tbody tr" content="td:first-child" class="small pull-right" only %}
    {% block top-addon %}{% endblock %}
</div>
{% if groups|length %}
    <table class="table table-normal repos">
    {% for group in groups %}
        {% include "./include_repos.html" with tab_slug=tab.class.slug %}
    {% endfor %}
    </table>
{% else %}
    <p class="empty-area">No repositories to show here !</p>
{% endif %}
{% endspaceless %}
