{% load frontutils jsonify %}<div class="row-fluid label-type" id="label-type-{{ label_type.id|default:'none' }}"{% if label_type %} data-label-type-id="{{ label_type.id }}" data-label-type-edit-mode="{{ label_type.edit_mode }}" data-label-type-regex="{{ label_type.regex }}" data-label-type-edit-details="{{ label_type.edit_details|jsonify|force_escape }}"{% if label_type.edit_mode == label_type.LABELTYPE_EDITMODE.FORMAT and '{order}' in label_type.edit_details.format_string %} data-has-order="1"{% endif %}{% endif %}>
    <div class="box span12">

        <div class="box-header" title="{% if not label_type %}All labels without group{% elif label_type.edit_mode == label_type.LABELTYPE_EDITMODE.FORMAT %}Labels matching this format: {{ label_type.edit_details.format_string }}{% elif label_type.edit_mode == label_type.LABELTYPE_EDITMODE.LIST %}Labels in the following list: {{ label_type.edit_details.labels_list|split:','|join:', ' }}{% else %}Labels matching this regex: {{ label_type.regex }} {% endif %}">
            <span class="title">
                {% if label_type %}
                    Group: {{ label_type.name }}
                    {% if view.request.is_ajax %}
                        {% if view.request.GET.group_just_edited|add:0 == label_type.id %}
                            <span class="label label-success">Just edited !</span>
                        {% elif view.request.GET.group_just_created|add:0 == label_type.id %}
                            <span class="label label-success">Just created !</span>
                        {% endif %}
                    {% endif %}
                    {% if label_type.is_metric %}
                        <span class="is-metric{% if current_repository.main_metric_id == label_type.id %} is-main-metric{% endif %}"><i class="fa fa-toggle-on"></i> Is {% if current_repository.main_metric_id == label_type.id %}main {% endif %}metric</span>
                    {% endif %}
                {% else %}
                    Labels not in groups
                {% endif %}
            </span>
            <ul class="box-toolbar">
                <li class="btn-edit-label-type">
                    {% if label_type %}
                        <a class="btn btn-small btn-blue btn-loading" href="{{ label_type.get_edit_url }}">Edit <i class='fa fa-spinner fa-spin'> </i></a>
                    {% else %}
                        <a class="btn btn-small btn-blue btn-loading" href="{{ label_type_create_url }}">Add a group <i class='fa fa-spinner fa-spin'> </i></a>
                    {% endif %}
                </li>
            </ul>
        </div>{# .box-header #}

        <div class="box-content">

            <ul class="unstyled labels">
                {% for label in labels %}
                    <li style="border-bottom-color: #{{ label.color }}" title='Edit "{{ label.name }}"'{% if view.request.is_ajax %}{% if view.request.GET.label_just_edited|add:0 == label.id %} data-toggle="tooltip" data-title="Just edited, will be saved shortly" data-trigger="manual" data-tooltip-class="success" {% elif view.request.GET.label_just_created == label.name %} data-toggle="tooltip" data-title="Just created, will be saved shortly" data-trigger="manual" data-tooltip-class="success" {% endif %}{% endif %}>
                        <a href="" data-color='{{ label.color }}' data-name='{{ label.name }}' data-id='{{ label.id }}' {% if label.label_type_id %} data-typed-name='{{ label.typed_name }}' data-order='{{ label.order }}'{% endif %}>{% if label.label_type_id %}{{ label.typed_name }}{% else %}{{ label.name }}{% endif %}</a>
                    </li>
                {% endfor %}
                <li class="new-label" title="Add a new label"><a class="btn btn-small btn-blue" href="" data-color="ff0000" data-name="">Create a new {% if label_type %}"{{ label_type.name }}"{% else %}label{% endif %}</a></li>
            </ul>

        </div>{# .box-content #}

    </div>{# .box #}
</div>{# .row-fluid #}
