{% extends "front/issues/include_filters_and_list.html" %}
{% load staticfiles querystring frontutils issues_tags %}

{% block group_by_name %}
    {% if issues_filter.objects.group_by_field == 'label_type_grouper' and group.grouper %}
        {{ group.grouper.typed_name }}
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}

{% block empty_group_by_name %}
    {% if issues_filter.objects.group_by_field == 'label_type_grouper' %}
        {{ issues_filter.objects.group_by.name }}
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}

{% block issues-list-top %}
    {% if current_metric and metric_stats %}
        <div class="alert alert-info metric-stats">
            {% include "front/repository/dashboard/include-metrics-stats.html" %}
        </div>
    {% endif %}
{% endblock %}
