{% load querystring frontutils spaceless_except_pre issues_tags %}{% spaceless_except_pre %}
{% if current_issue %}
    <nav class="issue-nav dropdown">
        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"> </i></button>
        <ul class="dropdown-menu pull-right" role="menu" aria-label="Issue menu">
            <li><a href="#" class="refresh-issue"><i class="fa fa-refresh fa-fw"> </i> Refresh issue</a></li>
            {% if current_issue.number %}
                <li><a href="#" class="force-refresh-issue"><i class="fa fa-refresh fa-fw"> </i> Update from github</a></li>
            {% endif %}
            <li class="divider"></li>
            <li><a href="#" class="resize-issue"><i class="fa fa-arrows-alt fa-fw"> </i> Toggle full screen</a></li>
            {% if current_issue.number %}
                <li class="divider"></li>
                <li><a href="{{ current_issue.github_url }}" target='_blank' class="view-on-github"><i class="fa fa-github fa-fw"> </i> View on Github</a></li>
            {% endif %}
        </ul>
    </nav>
    <article class='issue-content' data-issue-id="{{ current_issue.pk }}" data-issue-number="{{ current_issue.number|default_if_none:'' }}" data-repository="{{ current_issue.repository.full_name }}" data-repository-id="{{ current_issue.repository.id }}">
        {% include 'front/repository/issues/issue_header.html' %}
        <div class="issue-tabs no-scroll-left no-scroll-right">
            <a href='#' title="Show one tab one the left" class="arrow scroll-left"><span class="badge badge-gray">0</span><i class="fa fa-chevron-left"> </i></a>
            <ul class="nav nav-tabs">
                <li class="pr-discussion-tab active">
                    <a data-toggle="tab" href="#issue-{{ current_issue.pk }}-discussion">
                        Discussion
                        <span class="label label-blue">
                            <span title="{{ current_issue.comments_count }} comment{{ current_issue.comments_count|pluralize }}{% if current_issue.pr_reviews_count %} and {{ current_issue.pr_reviews_count }} review{{ current_issue.pr_reviews_count|pluralize }}{% endif %}"><i class="fa fa-comments-o"></i> {{ current_issue.comments_count|add:current_issue.pr_reviews_count }}</span>
                        </span>
                         &amp; updates
                    </a>
                </li>
                {% if current_issue.is_pull_request %}
                    <li class="pr-commits-tab">
                        <a data-toggle="tab" href="#issue-{{ current_issue.pk }}-commits">
                            Commits
                            <span class="label label-blue">
                                <span title="{{ current_issue.nb_commits }} commit{{ current_issue.nb_commits|pluralize }}"><i class="fa fa-git-square"></i> {{ current_issue.nb_commits }}</span>
                                {% if current_issue.commits_comments_count %}
                                    <span title="{{ current_issue.commits_comments_count }} comment{{ current_issue.commits_comments_count|pluralize }} on commit{{ current_issue.nb_commits|pluralize }}"><i class="fa fa-comments-o"></i> {{ current_issue.commits_comments_count }}</span>
                                {% endif %}
                            </span>
                        </a>
                    </li>
                    <li class="files-tab pr-files-tab">
                        <a data-toggle="tab" href="#issue-{{ current_issue.pk }}-files">
                            Files changed
                            <span class="label label-blue">
                                <span title="{{ current_issue.nb_changed_files }} changed file{{ current_issue.nb_changed_files|pluralize }}"><i class="fa fa-file-o"></i> {{ current_issue.nb_changed_files }}</span>
                                {% with nb_comments=current_issue.comments_count_by_path|values|sum %}
                                    {% if nb_comments %}
                                        <span title="{{ nb_comments }} non-outdated comment{{ nb_comments|pluralize }} on this ull request"><i class="fa fa-comments-o"></i> {{ nb_comments }}</span>
                                    {% endif %}
                                {% endwith %}
                            </span>
                        </a>
                    </li>
                    <li class="pr-review-tab">
                        <a data-toggle="tab" href="#issue-{{ current_issue.pk }}-review">
                            Review comments
                            <span class="label label-blue">
                                <span title="{{ current_issue.pr_comments_count }} review comment{{ current_issue.pr_comments_count|pluralize }}"><i class="fa fa-comments-o"></i> {{ current_issue.pr_comments_count }}</span>
                            </span>
                        </a>
                    </li>
                {% endif %}
                <li class="closable files-tab commit-tab template" style="display: none">
                    <a data-toggle="tab" href="#">
                        Commit <strong></strong>
                        <span class="label label-blue">
                            <span><i class="fa fa-file-o"></i>&nbsp;<span>0</span></span>
                            <span><i class="fa fa-comments-o"></i>&nbsp;<span>0</span></span>
                        </span>
                        <i class="fa fa-times" title="Close this tab"> </i>
                    </a>
                </li>
            </ul>
            <a href='#' title="Show one tab one the right" class="arrow scroll-right"><span class="badge badge-gray">o</span><i class="fa fa-chevron-right"> </i></a>
        </div>
        <div class="tab-content">
            <div class="tab-pane active issue-discussion" data-tab="issue-discussion" id="issue-{{ current_issue.pk }}-discussion">
                {% include 'front/repository/issues/issue_description.html' %}
                {% if current_issue.number %}
                <aside>
                    <ul class="unstyled chat-box timeline issue-activity" id="issue-activity-{{ current_issue.number }}">
                        {% for event in current_issue_activity %}
                            {% if event.event %}{# IssueEvent #}
                                {% if event.event == 'closed' %}
                                    {% include "front/repository/issues/activity/include_closed_comment.html" with comment=event %}
                                {% elif event.event == 'merged' %}
                                    {% include "front/repository/issues/activity/include_merged_comment.html" with comment=event %}
                                {% elif event.event == 'reopened' %}
                                    {% include "front/repository/issues/activity/include_reopened_comment.html" with comment=event %}
                                {% comment %}
                                {% elif event.event == 'assigned' %}
                                    {% include "front/repository/issues/activity/include_assigned_comment.html" with comment=event %}
                                {% endcomment %}
                                {% elif event.event == 'head_ref_deleted' %}
                                    {% include "front/repository/issues/activity/include_head_ref_deleted_comment.html" with comment=event %}
                                {% elif event.event == 'head_ref_restored' %}
                                    {% include "front/repository/issues/activity/include_head_ref_restored_comment.html" with comment=event %}
                                {% elif event.event == 'head_ref_force_pushed' %}
                                    {% include "front/repository/issues/activity/include_head_ref_force_pushed_comment.html" with comment=event %}
                                {% elif event.event == 'referenced' and event.commit_sha %}
                                    {% include "front/repository/issues/activity/include_referenced_in_commit_comment.html" with comment=event %}
                                {% elif event.event == 'referenced_by_issue' %}
                                    {% include "front/repository/issues/activity/include_referenced_by_issue_comment.html" with comment=event %}
                                {% elif event.event == 'referenced_by_issuecomment' %}
                                    {% include "front/repository/issues/activity/include_referenced_by_issuecomment_comment.html" with comment=event %}
                                {% elif event.event == 'referenced_by_pullrequestcomment' %}
                                    {% include "front/repository/issues/activity/include_referenced_by_pullrequestcomment_comment.html" with comment=event %}
                                {% elif event.event == 'referenced_by_milestone' %}
                                    {% include "front/repository/issues/activity/include_referenced_by_milestone_comment.html" with comment=event %}
                                {% endif %}
                            {% elif event.is_commits_group %}{# GroupedCommits #}
                                {% include "front/repository/issues/commits/include_commits_groups.html" with groups=event|tolist id_prefix="pr-disc-" with_ago=True repository_source=current_issue.repository collapsed=True with_icon=True %}
                            {% elif event.is_pr_comments_group %}{# GroupedPullRequestComments #}
                                {% include "front/repository/issues/activity/include_pr_comments_group.html" with group=event with_ago=True %}
                            {% elif event.is_commit_comments_group %}{# GroupedCommitComments #}
                                {% include "front/repository/issues/activity/include_commit_comments_group.html" with group=event with_ago=True %}
                            {% elif event.is_pull_request_review  %}{# PullRequestReview  #}
                                {% include "front/repository/issues/activity/include_pr_review.html" with review=event comment=event %}
                            {% elif event.get_parts %}{# Event #}
                                {% include "front/repository/issues/activity/include_change_event.html" %}
                            {% else %}{# IssueComment #}
                                {% include "front/repository/issues/comments/include_issue_comment.html" with comment=event include_create_form=False %}
                            {% endif %}
                        {% endfor %}
                        {% include "front/repository/issues/comments/include_issue_comment_create.html" with use_current_user=True %}
                    </ul>
                </aside>
                {% endif %}
            </div>
            {% if current_issue.is_pull_request %}
                <div class="tab-pane issue-commits" data-tab="issue-commits" id="issue-{{ current_issue.pk }}-commits" data-url="{{ current_issue.ajax_commits_url }}">
                    {% if current_issue.nb_commits > 10 %}
                        <div class="content empty">
                            Loading commits...
                        </div>
                        <p class="empty-area"><i class="fa fa-spinner fa-spin"> </i></p>
                    {% else %}
                        {% include "front/repository/issues/commits/include_issue_commits.html" %}
                    {% endif %}
                </div>
                <div class="tab-pane issue-files code-files" data-tab="issue-files" id="issue-{{ current_issue.pk }}-files" data-url="{{ current_issue.ajax_files_url }}">
                    {% if current_issue.nb_additions|add:current_issue.nb_deletions > 300 or current_issue.nb_changed_files > 10 %}
                        <div class="content empty">
                            Loading {% if current_issue.nb_additions|add:current_issue.nb_deletions > 500 or current_issue.nb_changed_files > 20 %} big{% endif %}diff...
                        </div>
                        <p class="empty-area"><i class="fa fa-spinner fa-spin"> </i></p>
                    {% else %}
                        {% include "front/repository/issues/code/include_issue_files.html" %}
                    {% endif %}
                </div>
                <div class="tab-pane issue-review" data-tab="issue-review" id="issue-{{ current_issue.pk }}-review" data-url="{{ current_issue.ajax_review_url }}">
                    {% if current_issue.pr_comments_entry_points.count > 10 %}
                        <div class="content empty">
                            Loading review comments...
                        </div>
                        <p class="empty-area"><i class="fa fa-spinner fa-spin"> </i></p>
                    {% else %}
                        {% include "front/repository/issues/comments/include_pr_review.html" %}
                    {% endif %}
                </div>
            {% endif %}
            <table class="code-comments-template" style="display: none"><tbody>{% include "front/repository/issues/comments/include_code_comments.html" with surround=True include_create_form=False %}</tbody></table>
            <div class="tab-pane commit-files code-files template" style="display: none">
                <div class="content empty">
                    Loading diff...
                </div>
                <p class="empty-area"><i class="fa fa-spinner fa-spin"> </i></p>
            </div>
        </div>
    </article>
{% else %}
    <p class="empty-area">{% if current_issue_state == 'notfound' %}404 :({% else %}...{% endif %}</p>
{% endif %}
{% endspaceless_except_pre %}
