{% extends "front/dashboard/base.html" %}
{% load staticfiles %}

{% block title %}Github notifications{% endblock title %}
{% block body_id %}github_notifications{% endblock %}
{% block body_classes %}issues_list_page {{ block.super }}{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <link href="{% static "front/css/pages/repository/issues.css" %}" rel="stylesheet">
    <link href="{% static "front/css/pages/github-notifications.css" %}" rel="stylesheet">
{% endblock extra_css %}

{% block js_pre_footer %}
    {{ block.super }}
    <script src="{% static "front/js/jquery.icheck.js" %}" type="text/javascript"></script>
{% endblock js_pre_footer %}

{% block main %}
    {% include "front/issues/base.html" %}
{% endblock main %}

{% block modal-windows %}
    {{ block.super }}
    {% include "front/modal_issue_view.html" %}
    {% include "front/github_notifications/shortcuts_window.html" %}
{% endblock modal-windows %}

{% block header_nav_inner %}
        <li class="active">
            <a role="menuitem" href="{{ github_notifications_url }}">
                <i class="fa fa-envelope"> </i>
                Github notifications
            </a>
        </li>
        <li>
            <a href="https://github.com/notifications" title="View your notifications on github" target='_blank'><i class="fa fa-github"> </i></a>
        </li>
{% endblock header_nav_inner %}
