{% if user.unread_notifications_count %}
    <ul class="dropdown-menu" id="github-notifications-menu-list">
        {% if user.unread_notifications_count > 10 %}
            <li class="disabled"><a tabindex="-1" href="#">Last 10 unread notifications</a></li>
            <li class="divider"></li>
        {% endif %}
        {% for notification in user.last_github_notifications %}
            <li class="dropdown-submenu">{% with issue=notification.issue url=notification.issue.get_absolute_url %}
                <a href="{{ url }}" class="issue-link" data-repository="{{ issue.repository.full_name }}" data-repository-id="{{ issue.repository_id }}" data-issue-id="{{ issue_id }}" data-issue-number="{{ issue.number }}">
                    <small>{{ issue.repository.full_name }}</small>
                    <i class="fa{% if issue.is_pull_request %} fa-code{% endif %} fa-fw"> </i>
                    <span class="text-{{ issue.state }}">#{{ issue.number }}</span> - {{ issue.title }}
                </a>
                <ul class="dropdown-menu" data-edit-url="{{ notification.get_edit_url }}">
                    <li class="with-mark-notification-as-read-link"><a href="#" data-active="true">Mark as read and keep active</a></li>
                    <li class="with-mark-notification-as-read-link"><a href="#" data-active="false">Mark as read and set inactive</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ url }}" class="issue-link hoverable-issue" data-repository="{{ issue.repository.full_name }}" data-repository-id="{{ issue.repository_id }}" data-issue-id="{{ issue_id }}" data-issue-number="{{ issue.number }}">Preview</a></li>
                </ul>
            {% endwith %}</li>
        {% endfor %}
    </ul>
{% endif %}
