@import "bootstrap/variables";
@import "variables";
@import "gim_variables";

@import "compass/css3/border-radius";
@import "compass/css3/box-sizing";
@import "compass/css3/box-shadow";
@import "compass/css3/images";
@import "compass/css3/text-shadow";
@import "compass/css3/transition";
@import "compass/css3/user-interface";

@import "components/issues_full_list";
@import "components/issue";

@import "modals/shortcuts";
@import "modals/gotoissue";

$board-header-height: 51px;

// enforce height to tell columns to scroll in this height
html, body {
    height: 100%;
    overflow: hidden;
}
#main {
    height: 100%;
    overflow: hidden;
    padding-right: 0;
    padding-left: 0;
    padding-top: 0;
}

body#repository_board #main-inner {
    padding: 0;
    padding-top: $header-top;
    height: 100%;
    @include box-sizing(border-box);
    position: relative;
}


.row-header {
    height: ($board-header-height - 1px);
    position: relative;
    top: $header-top;
    margin-bottom: 0;
    .area-top {
        padding-bottom: 9px;
        margin-bottom: 0;
        .row-fluid > div {
            position: relative;
            &:last-child {
                margin-left: 15px;
                text-align: center;
            }
        }
    }
    select {
        margin: 0;
    }
}

#board-columns {
    position: absolute;
    top: $header-top + $board-header-height;
    left: $sidebar-width;
    bottom: 0;
    right: 0;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0;
}
.board-column {
    @include box-sizing(border-box);
    background: #f0f0f0;
    position: relative;
    min-width: 300px;
    width: 500px;
    overflow: hidden;
    &.hidden {
        order: -1;
        display: none;
    }
    .issues-list-title {
        background: #f0f0f0;
        padding-left: 21px;
        padding-right: 4.3em;
        @include ellipsis();
        &:hover {
            height: auto;
            min-height: 20px;
            z-index: 1;
            white-space: normal;
        }
    }
    #board-columns[data-mode=project][data-editable=true]  &:not([data-key=__none__]) .issues-list-title {
        padding-right: 6em;
    }
    .board-column-edit .fa {
        @include transform(scale(0.9))
    }
    .board-column-unminifier {
        display: none;
    }
    &.is-active {
        .board-column-minifier {
            display: none;
        }
    }
    &.mini {
        .board-column-icons {
            .board-column-minifier {
                display: none;
            }
            .board-column-unminifier {
                display: inline;
            }
        }
        &:not(.is-active):not(.edit-mode) {
            min-width: 31px;
            width: 31px;
            .issues-filters {
                display: none;
            }
            .issues-list-container {
                & > * {
                    display: none;
                }
                & > .issues-list-title {
                    // always
                    display: block;
                    white-space: nowrap;
                    border: none;
                    top: 30px;
                    text-align: center;
                    height: 20px;
                    font-style: normal;
                }
            }
            .issues-list-container  > .issues-list-title {
                // rotated
                left: initial;
                right: 25px;
                top: 45px;
                text-align: right;
                transform: rotate(270deg);
                transform-origin: right top;
                padding-right: 1em !important;
            }
            .board-column-icons {
                right: 5px;
                a {
                    height: 1.5em;
                    width: auto;
                    display: block;
                    &.board-column-minifier {
                        display: none;
                    }
                    &.board-column-edit {
                        display: none;
                    }
                }
            }
        }
    }
}

.issues-list-container {
    margin-left: 0;
    margin-right: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-right: solid 1px $dark-border-color;
    @include box-sizing(border-box);
}

.board-column-icons {
    position: absolute;
    top: 5px;
    right: 1px;
    z-index: 2;
    padding-right: 5px;
    background: inherit;
    a {
        display: inline-block;
        text-align: center;
        width: 1.5em;
    }
    .board-column.mini:not(.is-active) & {
        right: 3px;
    }
}

.issues-list-title {
    &.type-label span {
        border-bottom: solid 2px transparent;
        position: relative;
        top: -2px;
    }
    &.type-assigned img {
        position: relative;
        top: -1px;
        margin-right: 2px;
    }
    &.value-none {
        font-style: italic;
    }
    .fa-sort-amount-desc {
        cursor: help;
        margin-right: 5px;
        color: $state-open-color;
        &.is-swiped-out {
            color: inherit;
            position: relative;
            &:after {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                @include background(
                    linear-gradient(to top left, rgba(0,0,0,0) 0%, rgba(0,0,0,0) calc(50% - 0.8px), $state-closed-color 50%, rgba(0,0,0,0) calc(50% + 0.8px), rgba(0,0,0,0) 100%),
                    linear-gradient(to top right, rgba(0,0,0,0) 0%, rgba(0,0,0,0) calc(50% - 0.8px), $state-closed-color 50%, rgba(0,0,0,0) calc(50% + 0.8px), rgba(0,0,0,0) 100%)
                )
            }
        }
    }
}

.board-column .issues-filters {
    position: absolute;
    top: 0;
    bottom: 0;
    left: - ($sidebar-width + $sidebar-hidden-width - $sidebar-toggler-width);
    z-index: 31;
    @include transition(transform 0.35s);
    .filters-toggler {
        display: block;
        z-index: 32;
        bottom: auto;
        height: 20px;
        top: 5px;
        padding-top: 0;
        background: transparent;
        color: inherit;
    }
    .primary-sidebar {
        @include transition(opacity 0.35s);
        opacity: 0;
    }
    &.open, &:hover, &:focus {
        @include transform(translateX($sidebar-width + $sidebar-hidden-width - $sidebar-toggler-width));
        .filters-toggler {
            opacity: 0;
            width: $sidebar-toggler-width;
            @include transform(translateX(-($sidebar-hidden-width - $sidebar-toggler-width)));
        }
        .primary-sidebar {
            opacity: 1;
        }
    }
}

#issues-filters-board-main {
    position: absolute;
    left: 0;
    bottom: 0;
    top: $header-top + $board-header-height;
}

// hide filters sidebar in small width screens
@media (max-width: 1023px) {
    #board-columns {
        left: ($sidebar-toggler-width - 1px);
    }
    #issues-filters-board-main {
        .filters-toggler {
            display: block;
            z-index: 34;
            padding-top: 5px;
        }
        left: - ($sidebar-width + $sidebar-hidden-width - $sidebar-toggler-width);
        z-index: 32;
        @include transition(transform 0.35s);
        .primary-sidebar {
            @include transition(opacity 0.35s);
            opacity: 0;
        }
        &.open, &:hover, &:focus {
            @include transform(translateX($sidebar-width + $sidebar-hidden-width - $sidebar-toggler-width));
            .filters-toggler {
                opacity: 0;
                width: $sidebar-toggler-width;
                @include transform(translateX(-($sidebar-hidden-width - $sidebar-toggler-width)));
            }
            .primary-sidebar {
                opacity: 1;
            }
        }
    }
}



#select2-drop.board-selector .select2-results {
    max-height: 80%;
}
.select2-results .select2-result-label.labels-editor-link {
    border-top: 1px solid #ddd;
    font-style: italic;
    font-weight: bold;
    margin-top: 3px;
    padding-top: 6px;
}

#board-columns-arranger-toggler {
    font-size: 12px;
    font-weight: normal;
    display: inline-block;
    width: 12em;
    vertical-align: middle;
    text-shadow: 0 1px 0 #fff;
}

#board-columns-arranger-holder {
    width: 500px;
    padding: 8px 10px 0 10px;
    > p {
        margin: 0;
        margin-bottom: 3px;
        line-height: 22px;
    }
    > div {
        float: right;
        margin-bottom: 10px;
        button {
            font-weight: normal;
            margin-left: 5px;
        }
        &.select2-container, input {
            margin-bottom: 5px;
        }
    }
    .select2-choices {
        a {
            padding: 0;
        }
    }
}

.issues-group.empty-sortable {
    visibility: hidden;
    &.visible {
        visibility: visible;
    }
}

#board-columns.dragging .issues-group-issues {
    min-height: 31px;
}

#issues-list-options-board-main {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;

    .navbar-inner {
        min-height: 30px;
        height: 30px;
        border: solid 1px #d4d4d4;
        @include box-shadow(none);
    }

    .nav > li[class*="span"] {
        width: auto;
        height: 30px;
        line-height: 20px;
    }

    a.dropdown-toggle {
        line-height: inherit;
        font-size: 12px;
        padding-bottom: 4px;
        &:hover {
            color: #505050;
        }
        > span {
            display: inline-block;
            vertical-align: middle;
            &.selection {
                padding-left: 8px;
                font-size: 11px;
                position: relative;
                top: 1px;
            }
        }
    }

    .dropdown-menu {
        text-align: left;
    }

    .divider-vertical {
        height: 28px;
    }

    .empty-area {
        font-size: 200%;
    }
}

.issues-list-search-board-main-dropdown {
    padding: 0;
    @include box-shadow(0 4px 5px 0 #888);
    > li {
        position: relative;
        height: 28px;
        width: 300px;
    }
    .issues-quicksearch {
        top: 0;
        label {
            @include border-radius(6px);
        }
        .add-on {
            @include border-radius(6px 0 0 6px);
        }
        input + a {
            bottom: 0;
            @include border-radius(0 6px 6px 0);
        }
    }
}

.note-add-btn {
    margin-right: -18px;
    > span {
        color: inherit !important;
        max-height: 18px;
        line-height: 18px;
        top: -1px;
        .fa-plus {
            font-size: 0.5em;
            top: 1px;
            left: -0.5px;
        }
    }
    .no-issues & {
        list-style: none;
        display: inline-block;
        font-size: 12px;
        cursor: pointer;
        position: absolute;
        top: 6px;
        right: -8px;
        margin-right: 0;
    }
}

$noteItemColor: #8E6A47;
$noteBackgroundColor: $warningBackground;
$noteBackgroundLightColor: rgba(252, 248, 227, 0.7);

.note-item {
    cursor: default;
    background: $noteBackgroundColor;
    color: $noteItemColor;
    @include transition(color 0.35s ease);
    &.active {
        background-color: $noteBackgroundColor;
        color: $noteItemColor;
        border-left-color: $noteItemColor;
        border-top-color: $noteBackgroundLightColor;
    }
    .issues-list.without-details &:not(.details-toggled),
    &.details-toggled {
        padding-left: 15px;
        &.active {
            padding-left: 10px;
        }
    }
    text-shadow: white 0 1px;
    .note-content {
        h1, h2, h3, h4, h5, h6, a {
            color: inherit;
        }
        a {
            text-decoration: underline;
        }
        > h1, h2, h3, h4, h5, h6, p{
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
    &:after {
        display: none;
    }
    > span.time {
        position: absolute;
        top: 4px;
        right: 5px;
        opacity: 0.5;
        @include transition(opacity 0.35s ease);
    }
    .note-edit-btn, .note-delete-btn {
        line-height: 18px;
        position: absolute;
        top: -2px;
        right: 0;
        background: $noteBackgroundLightColor;
        padding: 0 3px 0 8px;
        opacity: 0;
        @include transition(opacity 0.35s ease);
        &.loading {
            .fa-edit, .fa-times {
                display: none;
            }
        }
    }
    .note-delete-btn {
        top: 12px;
        padding: 0 4px 0 7px;
    }
    &:hover {
        .note-edit-btn, .note-delete-btn {
            opacity: 1;
        }
        > span.time {
            opacity: 1;
        }
    }

    &.edit-mode {
        .note-edit-form, .note-create-form {
            margin: 0;
            textarea {
                width: 100%;
                padding: 0;
                margin: 0;
                font-size: inherit;
                font-family: inherit;
                line-height: inherit;
                height: 70px;
                background: transparent;
                border: none;
                color: inherit;
                @include border-radius(0);
                @include box-shadow(none);
            }
            .edit-buttons {
                display: block;
                margin-top: 5px;
                padding-top: 5px;
                border-top: solid 1px $noteItemColor;
            }
        }
        .note-delete-form {
            margin: 0;
            .edit-buttons {
                display: block;
                margin-bottom: 5px;
                padding-bottom: 5px;
                border-bottom: solid 1px $noteItemColor;
            }
        }
        .alert {
            margin-top: 5px;
        }
    }
}

.new-notes-holder + .issues-group-issues:not(.template):not(:empty) {
    border-top: solid 2px $noteItemColor;
}

.board-column.create-mode {
    background: #fbfbfb;
    border-right: solid 1px #666;
}
.column-form {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 32;
    input[name=name] {
        @include box-sizing(border-box);
        width: 100%;
        height: 25px;
        border: none;
        @include border-radius(0);
        border-bottom: solid 1px #d4d4d4;
        text-align: center;
        color: inherit;
        background: #eee;
        font-family: inherit;
        font-weight: 600;
        font-size: 13px;
        @include input-placeholder {
            color: inherit;
            opacity: 0.5;
        }
        margin-bottom: 5px;
    }

    .edit-buttons {
        @include box-sizing(border-box);
        padding: 0 5px;
    }

    .alert {
        margin: 0 5px 5px;
    }
}
