@import "bootstrap/variables";
@import "variables";
@import "gim_variables";

@import "compass/css3/border-radius";
@import "compass/css3/box-sizing";
@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";
@import "compass/css3/transition";

@import "components/issues_full_list";
@import "components/issue";

@import "modals/shortcuts";
@import "modals/gotoissue";

$board-header-height: 51px;

// enforce height to tell columns to scroll in this height
html, body {
    height: 100%;
    overflow: hidden;
}
#main {
    height: 100%;
    overflow: hidden;
    padding-right: 0;
    padding-left: 0;
    padding-top: 0;
}

body#repository_board #main-inner {
    padding: 0;
    padding-top: $header-top;
    height: 100%;
    @include box-sizing(border-box);
    position: relative;
}


.row-header {
    height: ($board-header-height - 1px);
    position: relative;
    top: $header-top;
    margin-bottom: 0;
    .area-top {
        padding-bottom: 9px;
        margin-bottom: 0;
        .row-fluid > div {
            position: relative;
            &:last-child {
                margin-left: 15px;
                text-align: center;
            }
        }
    }
    select {
        margin: 0;
    }
}

#board-columns {
    position: absolute;
    top: $header-top + $board-header-height;
    left: $sidebar-width;
    bottom: 0;
    right: 0;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0;
}
.board-column {
    position: relative;
    min-width: 300px;
    width: 500px;
    overflow: hidden;
    &.hidden {
        order: -1;
        display: none;
    }
    .board-column-unminifier {
        display: none;
    }
    &.is-active {
        .board-column-minifier {
            display: none;
        }
    }
    &.mini {
        .board-column-minifier {
            display: none;
        }
        .board-column-unminifier {
            display: inline;
        }
        &:not(.is-active) {
            min-width: 31px;
            width: 31px;
            .issues-filters {
                display: none;
            }
            .issues-list-container {
                & > * {
                    display: none;
                }
                & > .issues-list-title {
                    // always
                    display: block;
                    white-space: nowrap;
                    border: none;
                    top: 30px;
                    text-align: center;
                    height: 20px;
                    font-style: normal;
                }
            }
            &:not(.small-title) {
                .issues-list-container  > .issues-list-title {
                    // rotated
                    left: initial;
                    right: 25px;
                    text-align: right;
                    transform: rotate(270deg);
                    transform-origin: right top;
                }
            }
        }
    }
}

.issues-list-container {
    margin-left: 0;
    margin-right: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-right: solid 1px $dark-border-color;
    @include box-sizing(border-box);
}

.board-column-icons {
    position: absolute;
    top: 5px;
    right: 5px;
    .board-column-closer {
        margin-left: 1px;
    }
    .board-column.mini:not(.is-active) & {
        right: 3px;
    }
}

.issues-list-title {
    &.type-label span {
        border-bottom: solid 2px transparent;
        position: relative;
        top: -2px;
    }
    &.type-assigned img {
        position: relative;
        top: -1px;
        margin-right: 2px;
    }
    &.value-none {
        font-style: italic;
    }
}

.board-column .issues-filters {
    position: absolute;
    top: 0;
    bottom: 0;
    left: - ($sidebar-width + $sidebar-hidden-width - $sidebar-toggler-width);
    z-index: 31;
    @include transition(transform 0.35s);
    .filters-toggler {
        display: block;
        z-index: 32;
        bottom: auto;
        height: 20px;
        top: 5px;
        padding-top: 0;
        background: transparent;
        color: inherit;
    }
    .primary-sidebar {
        @include transition(opacity 0.35s);
        opacity: 0;
    }
    &.open, &:hover, &:focus {
        @include transform(translateX($sidebar-width + $sidebar-hidden-width - $sidebar-toggler-width));
        .filters-toggler {
            opacity: 0;
            width: $sidebar-toggler-width;
            @include transform(translateX(-($sidebar-hidden-width - $sidebar-toggler-width)));
        }
        .primary-sidebar {
            opacity: 1;
        }
    }
}

#issues-filters-board-main {
    position: absolute;
    left: 0;
    bottom: 0;
    top: $header-top + $board-header-height;
}

// hide filters sidebar in small width screens
@media (max-width: 1023px) {
    #board-columns {
        left: ($sidebar-toggler-width - 1px);
    }
    #issues-filters-board-main {
        .filters-toggler {
            display: block;
            z-index: 34;
            padding-top: 5px;
        }
        left: - ($sidebar-width + $sidebar-hidden-width - $sidebar-toggler-width);
        z-index: 32;
        @include transition(transform 0.35s);
        .primary-sidebar {
            @include transition(opacity 0.35s);
            opacity: 0;
        }
        &.open, &:hover, &:focus {
            @include transform(translateX($sidebar-width + $sidebar-hidden-width - $sidebar-toggler-width));
            .filters-toggler {
                opacity: 0;
                width: $sidebar-toggler-width;
                @include transform(translateX(-($sidebar-hidden-width - $sidebar-toggler-width)));
            }
            .primary-sidebar {
                opacity: 1;
            }
        }
    }
}



#select2-drop.board-selector .select2-results {
    max-height: 80%;
}
.select2-results .select2-result-label.labels-editor-link {
    border-top: 1px solid #ddd;
    font-style: italic;
    font-weight: bold;
    margin-top: 3px;
    padding-top: 6px;
}

#board-columns-arranger-toggler {
    font-size: 12px;
    font-weight: normal;
    display: inline-block;
    width: 12em;
    vertical-align: middle;
    text-shadow: 0 1px 0 #fff;
}

#board-columns-arranger-holder {
    width: 500px;
    padding: 8px 10px 0 10px;
    > p {
        margin: 0;
        margin-bottom: 3px;
        line-height: 22px;
    }
    > div {
        float: right;
        margin-bottom: 10px;
        button {
            font-weight: normal;
            margin-left: 5px;
        }
        &.select2-container, input {
            margin-bottom: 5px;
        }
    }
    .select2-choices {
        a {
            padding: 0;
        }
    }
}

.issues-group.empty-sortable {
    visibility: hidden;
    &.visible {
        visibility: visible;
    }
}

#board-columns.dragging .issues-group-issues {
    min-height: 31px;
}

#issues-list-options-board-main {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;

    .navbar-inner {
        min-height: 30px;
        height: 30px;
        border: solid 1px #d4d4d4;
        @include box-shadow(none);
    }

    .nav > li[class*="span"] {
        width: auto;
        height: 30px;
        line-height: 20px;
    }

    a.dropdown-toggle {
        line-height: inherit;
        font-size: 12px;
        padding-bottom: 4px;
        &:hover {
            color: #505050;
        }
        > span {
            display: inline-block;
            vertical-align: middle;
            &.selection {
                padding-left: 8px;
                font-size: 11px;
                position: relative;
                top: 1px;
            }
        }
    }

    .dropdown-menu {
        text-align: left;
    }

    .divider-vertical {
        height: 28px;
    }

    .empty-area {
        font-size: 200%;
    }
}

.issues-list-search-board-main-dropdown {
    padding: 0;
    @include box-shadow(0 4px 5px 0 #888);
    > li {
        position: relative;
        height: 28px;
        width: 300px;
    }
    .issues-quicksearch {
        top: 0;
        label {
            @include border-radius(6px);
        }
        .add-on {
            @include border-radius(6px 0 0 6px);
        }
        input + a {
            bottom: 0;
            @include border-radius(0 6px 6px 0);
        }
    }
}
