@import "bootstrap/variables";
@import "variables";
@import "gim_variables";

@import "compass/css3/border-radius";
@import "compass/css3/box-sizing";
@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";
@import "compass/css3/transition";

@import "components/issues_full_list";
@import "components/issue";

@import "modals/shortcuts";
@import "modals/gotoissue";

@import "mixins";

// enforce height to tell columns to scroll in this height
html, body {
    height: 100%;
    overflow: hidden;
}
#main {
    height: 100%;
    overflow: hidden;
    padding-right: 0;
    padding-left: 0;
    padding-top: 0;
}
body.issues_list_page #main-inner {
    padding: 0;
    padding-top: $header-top;
    height: 100%;
    @include box-sizing(border-box);
    position: relative;
    padding-left: $sidebar-width;
}

// 3 columns, full height, each one is scrollable
.row-fluid .issues-list-container, #main-issue-container {
    margin-left: 0;
    margin-right: 0;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.issues-filters { // col 1, sidebar with fixed width
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
}
.row-fluid .issues-list-container { // col 2
    width: (100%/12*5); // 5 cols of 12
    border-right: solid 1px $dark-border-color;
    overflow: auto;
}
#main-issue-container { // col3
    width: (100%/12*7); // 7 cols of 12
    overflow: auto;
    .empty-area i {
        font-size: inherit;
    }
}


// first column: the filters
.issues-filters {
    margin-top: $header-top;
}

// hide sidebar in small width screens
@media (max-width: 1023px) {
    body.issues_list_page #main-inner {
        padding-left: ($sidebar-toggler-width - 1px);
    }
    .issues-filters {
        .filters-toggler {
            display: block;
            z-index: 32;
        }
        left: - ($sidebar-width + $sidebar-hidden-width - $sidebar-toggler-width);
        z-index: 31;
        @include transition(transform 0.35s);
        .primary-sidebar {
            @include transition(opacity 0.35s);
            opacity: 0;
        }
        &.open, &:hover, &:focus {
            @include transform(translateX($sidebar-width + $sidebar-hidden-width - $sidebar-toggler-width));
            .filters-toggler {
                opacity: 0;
                width: $sidebar-toggler-width;
                @include transform(translateX(-($sidebar-hidden-width - $sidebar-toggler-width)));
            }
            .primary-sidebar {
                opacity: 1;
            }
        }
    }
    .row-fluid .issues-list-container { // col 2
        width: (100%/12*4); // 4 cols of 12
    }
    #main-issue-container { // col3
        width: (100%/12*8); // 8 cols of 12
    }
}
