{% extends "./include_base_note.html" %}
{% block note-content %}
    {% include "front/form-protection.html" %}
    <form class="note-form note-edit-form"  method="post" action="{{ note.get_edit_url }}">
        {% csrf_token %}
        <div>{{ form.note }}</div>
        <div class="row-fluid auto-align edit-buttons">
            <div class="span6">
                <button class="btn btn-blue submit btn-loading">Update this note <i class='fa fa-spinner fa-spin'> </i></button>
            </div>
            <div class="span6">
                <button class="btn btn-default" type="button">Cancel</button>
            </div>
        </div>
    </form>
{% endblock note-content %}
