{% load staticfiles frontutils %}<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700">
    <meta charset="utf-8">
    <title>{% block title %}{% endblock title %} | {{ brand.long_name }}</title>
    {% if brand.favicon.path %}
        <link rel="icon" type="image/png" href="{% if brand.favicon.static_managed %}{% static brand.favicon.path %}{% else %}{{ brand.favicon.path }}{% endif %}" />
    {% endif %}
    <meta name="description" content="Github Issues Manager">
    <meta name="author" content='Stéphane "Twidi" Angel'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static "front/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "front/css/jquery.webui-popover.min.css" %}" rel="stylesheet">
    <link href="{% static "front/css/font-awesome.min.css" %}" rel="stylesheet">
    <link href="{% static "front/css/main.css" %}" rel="stylesheet">
    {% block extra_css %}{% endblock %}
</head>
<body id="{% block body_id %}{% endblock %}" class="{% block body_classes %}{% endblock %}"{% block body_attributes %}{% endblock %} data-base-datetime="{{ utcnow|date:'r' }}" data-csrf="{{ csrf_token }}">
    <header class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <span class="brand">
                    <a href="/" title="{{ brand.long_name }}">{{ brand.short_name }}</a>
                </span>
                {% block header_nav %}{% endblock header_nav %}
                <ul class="nav full pull-right">
                    {% if user and user.is_authenticated %}
                        {% with github_notifications_count=user.unread_notifications_count %}
                        <li class="dropdown user-avatar">
                            <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
                                <span>
                                    <img src="{{ default_avatar }}" data-src="{{ user.full_avatar_url|avatar_size:36 }}" class="img-rounded menu-avatar avatar lazyload" />
                                    <span>
                                        {{ user.username }}
                                    </span>
                                    <i class="fa fa-caret-down"></i>
                                    <span id="github-notifications-count" data-last="{{ user.last_unread_notification_date|date:'r' }}" data-count="{{ github_notifications_count }}" class="badge badge-dark-red{% if not github_notifications_count %} no-notifications{% endif %}">{{ github_notifications_count }}</span>
                                </span>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-label="Main accesses">
                                <li><a href="{% url "front:dashboard:home" %}"><i class="fa fa-tachometer fa-fw"> </i> Your dashboard</a></li>
                                <li id="github-notifications-menu"{% if github_notifications_count %} class="dropdown-submenu pull-left"{% endif %} data-last-notifications-hash="{{ user.last_github_notifications_hash }}" data-last-notifications-url="{{ github_notifications_last_url }}">
                                    <a href="{{ github_notifications_url }}" title="{% if github_notifications_count %}You have {{ github_notifications_count }} unread notification{{ github_notifications_count|pluralize }}{% else %}You don't have unread notifications{% endif %}">
                                        <span class="label {% if github_notifications_count %} label-dark-red{% endif %} pull-right">{{ github_notifications_count|default:0 }}</span>
                                        <i class="fa fa-envelope fa-fw"> </i>
                                        Notifications
                                    </a>
                                    {% include "front/github_notifications/include_notifications_menu_list.html" %}
                                </li>
                                <li class="divider"></li>
                                <li><a href="{% url "front:auth:logout" %}"><i class="fa fa-sign-out fa-fw"> </i> Logout</a></li>
                            </ul>
                        </li>
                        {% endwith %}
                    {% else %}
                        <li class="login"><a href="{% url "front:auth:login" %}"><i class="fa fa-github fa-fw"> </i> Login with Github</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div id="ws-alert" class="waiting{% if user and user.is_authenticated %} visible{% endif %}">
            <div class="message">Loading...</div>
            <button class="close" title="close">×</button>
        </div>
    </header>

    {% include "./messages.html" with force_container=True %}

    {% block modal-windows %}{% endblock %}
    <main id="main" class="container-fluid">
        {% block main %}{% endblock main %}
    </main>
    <script type="text/javascript">
        var software = {
            name: "{{ brand.short_name }}",
            version: "{{ gim_version }}"
        };
        var select2_statics = {css: '{% static "front/css/select.2.css" %}', js: '{% static "front/js/select.2.js" %}'};
        var default_avatar = "{{ default_avatar }}";
        var auth_keys = {
          key1: "{{ auth_keys.key1 }}",
          key2: "{{ auth_keys.key2 }}"
        };
        var WS_uri = "{{ WS.uri }}";
        var WS_last_msg_id = {{ WS.last_msg_id }};
        var WS_user_topic_key = "{{ wamp_topic_key }}";
        var dynamic_favicon_colors = {
            background: "{{ dynamic_favicon_colors.background }}",
            text: "{{ dynamic_favicon_colors.text }}",
        };
    </script>
    <script src="{% static "front/js/ago.js" %}" type="text/javascript"></script>
    <script src="{% static "front/js/jquery-2.1.1.min.js" %}" type="text/javascript"></script>
    <script src="{% static "front/bootstrap/js/bootstrap.js" %}" type="text/javascript"></script>{# the unminified version has problems with dorpdowns #}
    <script src="{% static "front/js/jquery.webui-popover.min.js" %}" type="text/javascript"></script>
    <script src="{% static "front/js/jwerty.min.js" %}" type="text/javascript"></script>
    <script src="{% static "front/js/jquery.quicksearch.js" %}" type="text/javascript"></script>
    <script src="{% static "front/js/arg.js.v1.1.min.js" %}" type="text/javascript"></script>
    <script src="{% static "front/js/waypoints.min.js" %}" type="text/javascript"></script>
    <script src="{% static "front/js/waypoints-sticky.min.js" %}" type="text/javascript"></script>
    <script src="{% static "front/js/classy.js" %}" type="text/javascript"></script>
    <script src="{% static "front/js/jquery.deferrable.js" %}" type="text/javascript"></script>
    <script src="{% static "front/js/jquery.focusable.js" %}" type="text/javascript"></script>
    <script src="{% static "front/js/autobahn.min.js" %}" type="text/javascript"></script>
    <script src="{% static "front/js/favico-0.3.10.min.js" %}" type="text/javascript"></script>
    <script src="{% static "front/js/requestNextAnimationFrame.js" %}" type="text/javascript"></script>
    <script src="{% static "front/js/jquery.icheck.js" %}" type="text/javascript"></script>
    {% block js_pre_footer %}{% endblock js_pre_footer %}
    <script src="{% static "front/js/front.js" %}" type="text/javascript"></script>
    {% block js_footer %}{% endblock js_footer %}
    <script src="{% static "front/js/lazysizes.min.js" %}" async=""></script>
    {%  if headwayapp_account %}
        <script data-cfasync="false">
          var HW_config = {
              selector: "body > header .brand",
              account: "{{ headwayapp_account }}",
              translations: {
                  title: "{{ brand.short_name }} changelog",
                  readMore: "Read more"
              }
          };
        </script>
        <script data-cfasync="false" async src="//cdn.headwayapp.co/widget.js"></script>
    {% endif %}
</body>
</html>
