{% load frontutils %}
    <table class="table table-normal diff" data-path="{{ path }}" data-sha="{{ sha }}">
        {% for class, old, new, code, position, hunk_sha, hunk_reviewed in parsed_diff %}{% spaceless %}
            <tr class="{{ class }}{% if hunk_reviewed %} is-reviewed{% endif %}" data-position="{{ position }}"{% if hunk_sha %} data-hunk-sha="{{ hunk_sha }}"{% endif %}>
                {% if class != 'comment' %}
                    <td class="line-number" data-line-number="{{ old }}"><span>{{ old }}</span></td>
                    <td class="line-number" data-line-number="{{ new }}"><span>{{ new }}</span></td>
                {% endif %}
                <td class="code"{% if class == 'comment' %} colspan="3"{% endif %}>{% if class != 'comment' %}<span class="label label-blue btn-comment" title="Comment this line"><i class="fa fa-comment"></i></span>{% endif %}{{ code }}{% if class == 'comment' and hunk_sha and hunk_reviewed != None %}<button class="btn btn-mini btn-default locally-reviewed is-{{ hunk_reviewed|yesno:",not-" }}reviewed" title="By marking a hunk as reviewed, the diff will be dimmed until it changes" data-url="{{ toggle_locally_reviewed_url }}{{ hunk_sha }}/"><i class="fa fa-{% if hunk_reviewed %}check-{% endif %}square-o"> </i> <span>Reviewed</span></button>{% endif %}</td>
            </tr>
            {% endspaceless %}
            {% if entry_points and position in entry_points %}
                {% with entry_point=entry_points|dict_item:position %}
    </table>
</div>
{% include "front/repository/issues/comments/include_code_comments.html" with comments=entry_point.comments.all classes="collapse in" %}
<div class="box-section code-diff">
    <table class="table table-normal diff" data-path="{{ path }}" data-sha="{{ sha }}">
                {% endwith %}
            {% endif %}
        {% endfor %}
    </table>
