{% load querystring frontutils issues_tags %}{% spaceless %}
<ul id="filter-{{ view.relation }}-{{ list_uuid }}" class="collapse{% if list_open %} in{% endif %}">
    <li{% if issues_filter.parts.assigned == "__none__" %} class="active"{% endif %}>
        <a href="{{ current_issues_url }}{% toggle_in_querystring "assigned" "__none__" %}">(&nbsp;No&nbsp;one&nbsp;assigned&nbsp;)</a>
    </li>
    <li{% if issues_filter.parts.assigned == "__any__" %} class="active"{% endif %}>
        <a href="{{ current_issues_url }}{% toggle_in_querystring "assigned" "__any__" %}">(&nbsp;Someone&nbsp;assigned&nbsp;)</a>
    </li>
    {% if count > MIN_FOR_FILTER %}
        <li>
            {% include "front/include_quicksearch.html" with target="#filter-"|concat:view.relation|concat:"-"|concat:list_uuid|concat:" li.assigned" only %}
        </li>
    {% endif %}
    {% for username in usernames %}
        <li class="assigned{% if issues_filter.parts.created_by == username %} active{% endif %}">
            <a href="{{ current_issues_url }}{% toggle_in_querystring "assigned" username %}">{{ username }}</a>
        </li>
    {% endfor %}
</ul>
{% endspaceless %}
