{% load querystring frontutils issues_tags %}{% spaceless %}
<li class="accordion-group dark-nav new-accordion-part">
    <span class="glow"></span>
    <a class="accordion-toggle collapsed{% if issues_filter.objects.created_by %} with-selection{% endif %}" data-toggle="collapse" data-parent="#issues-filters-accordion-{{ list_uuid }}" href="#filter-{{ view.relation }}-{{ list_uuid }}">
        Creators
        <i class="fa fa-caret-right"></i>
        {% if issues_filter.objects.created_by %}
                <span class="selection">{{ issues_filter.parts.created_by }}</span>
            </a>
            <a class="clear-filter" href="{{ current_issues_url }}{% remove_from_querystring "created_by" %}" title="Clear this filter"><i class="fa fa-times"> </i>
        {% endif %}
    </a>
    {% if deferred %}
        {% include "front/repository/issues/filters/include_users_list_deferred.html" with filter_type="created_by" username=issues_filter.parts.created_by %}
    {% else %}
        {% include "front/repository/issues/filters/include_creators_list.html" %}
    {% endif %}
</li>
{% endspaceless %}
