@import "mixin_helpers";

table.diff tbody {
    tr:not(.diff-comments) {
        white-space: pre;
        background: white;
        font-family: $monoFontFamily;
        color: #333;
        border: none;
        &.is-reviewed {
            background: #FAFAFE;
            color: #999;
            td.line-number {
                border-color: #E4E4FF;
            }
        }
        &.comment{
            @include box-header-aspect;
            border-top: 1px solid #E6E6E6;
            font-weight: normal;
            &:first-child {
                border-top: none;
            }
            td {
                padding-top: 3px;
                padding-bottom: 1px;
            }
        }
        &.added {
            background: #CEFFCE;
            td.line-number {
                border-right-color: #B4E2B4;
            }
            .highlight {
                background-color: #AAFFAA;
                color: #000;
            }
            &.is-reviewed {
                background-color: #F0FFF0;
                td.line-number {
                    border-right-color: #DAF1DA;
                }
                .highlight {
                    background-color: #D6FFD6;
                }
            }
        }
        &.removed {
            background: #F7C8C8;
            td.line-number {
                border-right-color: #E9AEAE;
            }
            .highlight {
                background-color: #FFAAAA;
                color: #000;
            }
            &.is-reviewed {
                background-color: #FDF2F2;
                td.line-number {
                    border-right-color: #F4D7D7;
                }
                .highlight {
                    background-color: #FFDBDB;
                }
            }
        }
        td {
            border: none;
            line-height: 20px;
            min-height: 20px;
            padding: 1px 5px;
            background: transparent;
            &.line-number {
                width: 8px;  // size of the "..." cells
                text-align: right;
                color: #B3B3B3;
                border-right: {
                    style: solid;
                    width: 1px;
                    color: #CDCDCD;
                }
                > span {
                    display: none;
                }
                &:before {
                    content: attr(data-line-number);
                }
            }
            &.code {
                vertical-align: baseline;
                .btn-comment {
                    position: absolute;
                    left: 0;
                    padding: 1px;
                    padding-right: 4px;
                    cursor: pointer;
                    display: none;
                }
                .locally-reviewed {
                    position: absolute;
                    right: 18px;
                    margin-top: -2px;
                    span {
                        margin-left: 1ex;
                        font-weight: normal;
                    }

                    &.is-reviewed {
                        .fa {
                            color: $state-open-color;
                        }
                    }
                    &.is-not-reviewed {
                        span {
                            text-decoration: line-through;
                        }
                    }
                }
            }
        } // td
        &:hover:not(.comment) {
            background: $table-row-hover-background-color !important;
            td {
                background: transparent !important;
                &.code .btn-comment {
                    display: inline-block;
                }
            }
        }
    } // tr
}
