/* line 5, ../../../../sass/pages/github-notifications.scss */
.issue-item-notification {
  position: relative;
  clear: both;
  padding: 5px;
  padding-left: 13px;
  margin: 5px 0 -5px -13px;
  background: white;
  border-top: solid #eee 1px;
  -moz-transition: border-top-color 0.35s ease;
  -o-transition: border-top-color 0.35s ease;
  -webkit-transition: border-top-color 0.35s ease;
  transition: border-top-color 0.35s ease;
}
/* line 13, ../../../../sass/pages/github-notifications.scss */
.issue-item-notification:after {
  clear: both;
  content: '';
  display: block;
}
/* line 18, ../../../../sass/pages/github-notifications.scss */
.issue-item-notification > span {
  display: inline-block;
  margin-top: 3px;
}
/* line 21, ../../../../sass/pages/github-notifications.scss */
.issue-item-notification > span span {
  font-weight: 600;
}
/* line 25, ../../../../sass/pages/github-notifications.scss */
.issue-item-notification form {
  display: inline-block;
  float: right;
  height: 25px;
  overflow: hidden;
  margin: 0;
  position: relative;
  opacity: 0;
  -moz-transition: opacity 2s ease;
  -o-transition: opacity 2s ease;
  -webkit-transition: opacity 2s ease;
  transition: opacity 2s ease;
}
/* line 32, ../../../../sass/pages/github-notifications.scss */
.issue-item-notification form > div {
  font-size: 12px;
  display: inline-block;
  vertical-align: middle;
  height: 20px;
}
/* line 40, ../../../../sass/pages/github-notifications.scss */
.issue-item-notification form.js-managed {
  opacity: 1;
}
/* line 43, ../../../../sass/pages/github-notifications.scss */
.issue-item-notification form .spin-holder {
  display: inline-block;
  height: 20px;
  width: 20px;
  background: #6da7cb;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: white;
  text-align: center;
}
/* line 53, ../../../../sass/pages/github-notifications.scss */
.issue-item-notification label {
  font-size: inherit;
  font-weight: 600;
  display: inline-block;
  margin-left: 0.25em !important;
  margin-right: 1em !important;
}
/* line 59, ../../../../sass/pages/github-notifications.scss */
.issue-item-notification label:last-child {
  margin-right: 0.5em !important;
}
/* line 63, ../../../../sass/pages/github-notifications.scss */
.issue-item-notification input[type=checkbox] {
  vertical-align: middle;
  position: relative;
  margin: 0;
  bottom: 1px;
  display: inline-block;
  width: 20px;
}
/* line 71, ../../../../sass/pages/github-notifications.scss */
.issue-item-notification .icheckbox_flat-blue {
  top: -1px;
  vertical-align: middle;
}
/* line 74, ../../../../sass/pages/github-notifications.scss */
.issue-item-notification .icheckbox_flat-blue + label {
  top: 0;
  left: 0;
  margin: 0;
}

/* line 84, ../../../../sass/pages/github-notifications.scss */
.issue-item.active .issue-item-notification {
  background: transparent;
  border-top-color: rgba(0, 0, 0, 0.05);
  padding-left: 8px;
  margin-left: -8px;
}

/* line 94, ../../../../sass/pages/github-notifications.scss */
.without-details .issue-item.active .issue-item-notification {
  padding-left: 3px;
  margin-left: -3px;
}
