{% load staticfiles querystring frontutils issues_tags macros %}
{% macro empty_group_by_name %}
    {% block empty_group_by_name %}
        {{ view.allowed_group_by|dict_item:issues_filter.objects.group_by|dict_item:'name'|lower }}
    {% endblock %}
{% endmacro %}
{% macro no_group_by_name %}{% block no_group_by_name %}issues{% endblock %}{% endmacro %}
{% macro issue_item %}{% block issue_item %}{% inject_repository_in_issue_item current_repository issue.repository force_hide=force_hide_repositories force_show=force_show_repositories %}{% issue_cache None issue_item issue.pk issue.saved_hash %}{% include "front/repository/issues/include_issue_item.html" with issue=issue %}{% endissue_cache %}{% end_inject_repository_in_issue_item %}{% endblock %}{% endmacro %}
{% static 'front/img/default-avatar.png' as default_avatar %}
{% macro issues_group_toolbar count %}
    {% block issues-group-toolbar %}
        <li><span class="label label-inverse issues-count">{{ count }}</span></li>
    {% endblock %}
{% endmacro %}

{% include view.filters_template_name %}
<section class="issues-list-container span5{% if list_key %} with-title{% endif %}"{% if list_key %} data-key="{{ list_key }}"{% endif %}>
    {% if list_key %}
        <div class="issues-list-title{% block list-title-classes %}{% endblock %}" title="{% block list-title-description %}{{ list_description|default_if_none:""|capfirst }}{% endblock %}"{%  block list-title-attrs %}{% endblock %}>{%  block list-title-content %}{{ list_title|capfirst }}{% endblock %}</div>
    {% endif %}
    {% include view.options_template_name %}
    {% include "front/issues/include_quicksearch.html" %}
    <div id="issues-list-{{ list_uuid }}" class='{% block issues-list-classes %}issues-list{% endblock %}' data-quicksearch="#issues-list-search-{{ list_uuid }} input" data-group_by-key="{{ issues_filter.objects.group_by|group_by_filter_key }}" data-url="{{ current_issues_url }}?{{ view.request.META.QUERY_STRING }}" data-base-url="{{ current_issues_url }}" data-sort-field="{{ issues_filter.parts.sort }}" data-sort-direction="{{ issues_filter.parts.direction }}"{% block issues-additional-data %}{% endblock issues-additional-data %}>
        {% if not issues_count %}
            <div class="alert alert-info no-issues">
                {% block no-issues %}No issues to display.{% endblock %}
            </div>
        {% else %}
            {% block issues-list-top %}{% endblock %}
            {% if limit_reached %}
                <div class="alert alert-warning too-many-issues">
                    {{ issues_count }} issues were returned but we only retrieved {{ view.LIMIT_ISSUES }} to avoid a slow rendering.
                    <br />
                    <a class="btn btn-mini btn-default no-limit-btn" href="{{ current_issues_url }}{% replace_in_querystring "limit" "no" %}">Display the whole list</a>
                </div>
            {% endif %}
            {% dynamic_regroup issues by issues_filter.objects.group_by_field as issues_groups %}
            {% for group in issues_groups %}
                {% if issues_filter.objects.group_by_field %}
                    {% with group_by_value=group.grouper|group_by_filter_value:issues_filter.objects.group_by_field group_uuid=new_uuid %}
                        <div class='box issues-group' data-group_by-value="{{ group_by_value }}">
                            <a class="box-header" href='#' data-toggle="collapse" data-target="#group_by-list-{{ group_uuid }}">
                                <span class="title">
                                    {% if issues_filter.objects.group_by_field == 'is_pull_request' %}
                                        {% if group.grouper %}Pull-requests{% else %}Issues{% endif %}
                                    {% else %}
                                        {% block group_by_name %}
                                            {% if group.grouper %}
                                                {{ group.grouper }}
                                            {% else  %}
                                                No {% usemacro empty_group_by_name %}
                                            {% endif %}
                                        {% endblock %}
                                    {% endif %}
                                </span>
                                <ul class="unstyled box-toolbar">
                                    <li><span class="label label-inverse issues-count">{{ group.list|length }}</span></li>
                                </ul>
                            </a>
                            <ul class="unstyled box-content issues-group-issues collapse{% if issues_groups|length == 1 %} in{% endif %}" id="group_by-list-{{ group_uuid }}">
                                {% for issue in group.list %}{% usemacro issue_item %}{% endfor %}
                            </ul>
                        </div>
                    {% endwith %}
                {% else %}
                    <div class='box issues-group'>
                        <a class="box-header" href='#'>
                            <span class="title">{% if issues_filter.parts.keys|length > view.MIN_FILTER_KEYS %}Filtered{% else %}All{% endif %} {% usemacro no_group_by_name %}</span>
                            <ul class="unstyled box-toolbar">
                                {% usemacro issues_group_toolbar group.list|length %}
                            </ul>
                        </a>
                        <ul class="unstyled box-content issues-group-issues">
                            {% for issue in group.list %}{% usemacro issue_item %}{% endfor %}
                        </ul>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        <div class='box issues-group template' style="display:none">
            <a class="box-header" href='#' data-toggle="collapse" data-target="#group_by-list-template">
                <span class="title">
                    {% if issues_filter.objects.group_by_field %}
                        No {% usemacro empty_group_by_name %}
                    {% else %}
                        {% if issues_filter.parts.keys|length > view.MIN_FILTER_KEYS %}Filtered{% else %}All{% endif %} {% usemacro no_group_by_name %}
                    {% endif %}
                </span>
                <ul class="unstyled box-toolbar">
                    {% usemacro issues_group_toolbar 1 %}
                </ul>
            </a>
            <ul class="unstyled box-content issues-group-issues collapse" id="group_by-list-template"></ul>
        </div>
    </div>
</section>
{% block after-main-section %}{% endblock %}
