{% load frontutils %}
<li class="chat-box-entry arrow-box-left gray issue-comment {% block node_class %}{% endblock %}" {% block node_data %}{% endblock %} tabindex="-1">
    <div class="avatar"><img class="avatar-small img-circle lazyload" src="{{ default_avatar }}" data-src="{% if use_current_user %}{{ view.request.user.full_avatar_url|avatar_size:36 }}{% else %}{{ comment.user.full_avatar_url|avatar_size:36 }}{% endif %}"></div>
    <div class="info">
        {% block comment_date %}
            {% with github_url=comment.github_url %}
                {% if comment and comment.created_at %}
                    <{% if github_url %}a href="{{ github_url }}" target="_blank"{% else %}span{% endif %} class="time" title="{{ comment.created_at|date:"DATETIME_FORMAT" }}">
                        <i class="fa fa-clock-o"></i><span>{{ comment.created_at|ago }}</span>
                    </{% if github_url %}a{% else %}span{% endif %}>{% endif %}
            {% endwith %}
        {% endblock %}
        {% block comment_info %}{% endblock %}
    </div>
    {% block comment_body %}<div class="content">{% block comment_inner_body %}{% endblock %}</div>{% endblock %}
</li>
