{% extends "front/repository/base.html" %}
{% load staticfiles frontutils repository_tags %}

{% block body_id %}repository_board{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <link href="{% static "front/css/select.2.css" %}" rel="stylesheet">
    <link href="{% static "front/css/pages/repository/board.css" %}" rel="stylesheet">
{% endblock extra_css %}

{% block main %}
    <div class="row-fluid row-header">
        <div class="span12">
            <div class="area-top">
                {% block board-header %}
                    <select id="board-selector" autocomplete="off">
                    {% if not current_board_key %}
                        <option></option>
                    {% endif %}
                    {% for board_key, board in boards.items %}
                        <option value="{{ board_key }}"
                                title="{{ board.description|capfirst }}"
                                data-name="{{ board.name|capfirst }}"
                                data-columns="{{ board.visible_count }}"
                                data-url="{{ board.board_url }}"
                                {% if current_board_key == board_key %} selected="selected"{% endif %}>
                            {% if current_board_key == board_key %}Current board: {% endif %} {{ board.name|capfirst }}
                        </option>
                    {% endfor %}
                    {% if current_subscription.state in current_subscription.STATES.WRITE_RIGHTS %}
                        <option value="labels-editor" data-url="{{ labels_editor_url }}">Edit boards from groups of labels</option>
                    {% endif %}
                    </select>
                {% endblock board-header %}
            </div>
        </div>
    </div>
    {% block board-main %}
        <div class="empty-area">Please select a board</div>
    {% endblock board-main %}
{% endblock main %}

{% block js_pre_footer %}
    {{ block.super }}
    <script src="{% static "front/js/select.2.js" %}" type="text/javascript"></script>
{% endblock js_pre_footer %}

{% block js_footer %}
    {{ block.super }}
    <script src="{% static "front/js/repository-boards.js" %}" type="text/javascript"></script>
{% endblock js_footer %}

{% block modal-windows %}
    {{ block.super }}
    {% include "front/repository/board/shortcuts_window.html" %}
{% endblock modal-windows %}
