{% extends "./base.html" %}
{% load staticfiles frontutils repository_tags %}

{% block title %}{{ block.super }} - {{ current_board.name|capfirst }}{% endblock title %}

{% block extra_css %}
    {{ block.super }}
    <link href="{% static "front/jquery-ui/jquery-ui.min.css" %}" rel="stylesheet">
{% endblock extra_css %}

{% block board-header %}
    <div class="row-fluid">
        <div class="span4">
            {{ block.super }}
        </div>
        {% if current_board.mode == 'project' %}
            <div class="span2">
                <a class="btn btn-default" data-toggle="modal" data-target="#project-editor">View{% if current_repository_edit_level %}/manage{% endif %} project details</a>
                {% if current_board.object.number %}<a class="btn btn-default" target="_blank" href="{{ current_board.object.github_url }}" title="View this project on Github"><i class="fa fa-github fa-2x"  style="font-size: 1.5em; color: #999"></i></a>{% endif %}
            </div>
        {% endif %}
        <div class="span{% if current_board.mode == 'project' %}6{% else %}8{% endif %}">
            {% include view.options_template_name %}
        </div>
    </div>
{% endblock board-header %}

{% block board-main %}
    {% with board_editable=current_repository|can_user_write:user %}
    {% include view.filters_template_name %}
    <div id="board-columns" data-base_url="{{ current_board.base_url }}" data-editable="{{ board_editable|lower }}" data-key="{{ current_board.key }}" data-mode="{{ current_board.mode }}"{% if current_board.mode == 'project' and board_editable %} data-create-column-url="{{ current_board.object.get_create_column_url }}"{% endif %}>
        {% for column_key, current_column in current_board.columns.items %}
            <div class="board-column not-loaded{% if current_column.hidden %} hidden{% endif %}" data-key="{{ current_column.key }}">
                {% include "./include_not_loaded_column.html" with column_url_query_string=view.request.META.QUERY_STRING %}
            </div>
        {% endfor %}
    </div>
    {% endwith %}
{% endblock board-main %}


{% block js_pre_footer %}
    {{ block.super }}
    <script src="{% static "front/jquery-ui/jquery-ui.min.js" %}" type="text/javascript"></script>
{% endblock js_pre_footer %}

{% block js_footer %}
    {{ block.super }}
    <script src="{% static "front/js/chart_modal.js" %}" type="text/javascript"></script>
    <script type="text/javascript">
        var all_milestones = {{ milestones_json|safe }};
    </script>
{% endblock js_footer %}

{% block modal-windows %}
    {{ block.super }}
    {% include "front/repository/dashboard/chart_window.html" %}
    {% if current_board.mode == 'project' %}
        {% include "./projects/project_modal.html" with project=current_board.object %}
    {% endif %}
{% endblock modal-windows %}
