{% extends "front/repository/issues/include_filters_and_list.html" %}
{% load frontutils repository_tags %}

{% block issues-additional-data %}{{ block.super }} data-can-handle-positions="{{ can_handle_positions|yesno:"true,false" }}"{% endblock issues-additional-data %}

{% block issues-list-classes %}{{ block.super }} without-details{% endblock %}

{% block list-title-classes %}{% if current_board.mode == 'labels' and current_column.object %} type-label{% elif current_board_key == 'auto-assigned' and current_column.object %} type-assigned{% elif current_column.key == '__none__' %} value-none{% endif %}{% endblock list-title-classes %}

{% block list-title-content %}
    {% if current_repository_edit_level %}
        <i class="fa fa-sort-amount-desc{% if not can_handle_positions %} is-swiped-out{% endif %}" title="Issues dragged in this column {% if can_handle_positions %}will{% else %}won't{% endif %} have their new position saved"></i>
    {% endif %}
    <span class="column-title">
    {% with default=block.super %}
    {% if current_board.mode == 'labels' and current_column.object %}
        <span style="border-bottom-color: #{{ current_column.object.color }}">
        {{ default }}
        </span>
    {% elif current_board_key == 'auto-assigned' and current_column.object %}
        <img class="avatar-micro img-circle lazyload" src="{{ default_avatar }}" data-src="{{ current_column.object.full_avatar_url|avatar_size:16 }}" />
        {{ default }}
    {% else %}
        {{ default }}
    {% endif %}
    {% endwith %}
    </span>
{% endblock list-title-content %}

{% block after-main-section %}
    {% if include_board_column_icons %}
        <div class="board-column-icons">
            <a href="#" class="board-column-minifier" title="Minify this column"><i class="fa fa-toggle-left"> </i></a>
            <a href="#" class="board-column-unminifier" title="Restore this column"><i class="fa fa-toggle-right"> </i></a>
            <a href="#" class="board-column-closer" title="Hide this column"><i class="fa fa-eye-slash"> </i></a>
        </div>
    {% endif %}
{% endblock %}
