{% extends "front/issues/base.html" %}
{% load staticfiles querystring frontutils issues_tags %}

{% block group_by_selection %}
    {% if issues_filter.objects.group_by_field == 'githubnotification__unread' %}
        {{ issues_filter.objects.group_by.name|capfirst }}
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock group_by_selection %}

{% block group_by_name %}
    {% if issues_filter.objects.group_by_field == 'githubnotification__unread' %}
        {% if group.grouper %}unread{% else %}read{% endif %}
    {% elif issues_filter.objects.group_by_field == 'githubnotification__reason' %}
        {% with reason=reasons|dict_item:group.grouper %}
            {{ reason.name }}<span> - {{ reason.description|capfirst }}</span>
        {% endwith %}
    {% elif issues_filter.objects.group_by_field == 'githubnotification__repository' %}
            <span style="font-weight: 600">{{ group.grouper }}</span>
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}

{% block after_common_filters %}
    {# The two unread states #}
    <li class="accordion-group dark-nav">
        <span class="glow"></span>
        <a class="accordion-toggle collapsed{% if issues_filter.parts.read %} with-selection{% endif %}" data-toggle="collapse" data-parent="#issues-filters-accordion" href="#filter-read">
            Read status
            <i class="fa fa-caret-right"></i>
            {% if issues_filter.parts.read %}
                    <span class="selection">{{ issues_filter.parts.read }}</span>
                </a>
                <a class="clear-filter" href="{{ current_issues_url }}{% remove_from_querystring "read" %}" title="Clear this filter"><i class="fa fa-times"> </i>
            {% endif %}
        </a>
        <ul id="filter-read" class="collapse">
            {% for read in view.allowed_reads %}
                <li{% if issues_filter.parts.read == read %} class="active"{% endif %}>
                    <a href="{{ current_issues_url }}{% toggle_in_querystring "read" read %}">{{ read|capfirst }}</a>
                </li>
            {% endfor %}
        </ul>
    </li>

    {# The notification reasons #}
    <li class="accordion-group dark-nav">
        <span class="glow"></span>
        <a class="accordion-toggle collapsed{% if issues_filter.parts.reason %} with-selection{% endif %}" data-toggle="collapse" data-parent="#issues-filters-accordion" href="#filter-reason">
            Notification reason
            <i class="fa fa-caret-right"></i>
            {% if issues_filter.parts.reason %}
                    {% with reason=reasons|dict_item:issues_filter.parts.reason %}
                        <span class="selection" title="{{ reason.description|capfirst }}">{{ reason.name|capfirst }}</span>
                    {% endwith %}
                </a>
                <a class="clear-filter" href="{{ current_issues_url }}{% remove_from_querystring "reason" %}" title="Clear this filter"><i class="fa fa-times"> </i>
            {% endif %}
        </a>
        <ul id="filter-reason" class="collapse">
            {% for reason in view.allowed_reasons %}
                <li{% if issues_filter.parts.reason == reason %} class="active"{% endif %}>
                    {% with reason_obj=reasons|dict_item:reason %}
                        <a href="{{ current_issues_url }}{% toggle_in_querystring "reason" reason %}" title="{{ reason_obj.description|capfirst }}">{{ reason_obj.name|capfirst }}</a>
                    {% endwith %}
                </li>
            {% endfor %}
        </ul>
    </li>

    {# The repositories #}
    <li class="accordion-group dark-nav">
        <span class="glow"></span>
        <a class="accordion-toggle collapsed{% if issues_filter.parts.repository %} with-selection{% endif %}" data-toggle="collapse" data-parent="#issues-filters-accordion" href="#filter-repository">
            Repository
            <i class="fa fa-caret-right"></i>
            {% if issues_filter.parts.repository %}
                    <span class="selection">{{ issues_filter.parts.repository }}</span>
                </a>
                <a class="clear-filter" href="{{ current_issues_url }}{% remove_from_querystring "repository" %}" title="Clear this filter"><i class="fa fa-times"> </i>
            {% endif %}
        </a>
        <ul id="filter-repository" class="collapse">
            {% if view.allowed_repositories|length > 10 %}
                <li>
                    {% include "front/include_quicksearch.html" with id="filter-repository" target="#filter-repository li.allowed-repository" only %}
                </li>
            {% endif %}
            {% for repository in view.allowed_repositories %}
                <li class="allowed-repository{% if issues_filter.parts.repository == repository %} active{% endif %}">
                    <a href="{{ current_issues_url }}{% toggle_in_querystring "repository" repository %}">{{ repository }}</a>
                </li>
            {% endfor %}
        </ul>
    </li>

{% endblock %}
